<div class="signup-bg">
  <!-- <img src="./assets/images/logo.png" alt="" [routerLink]="['/home']"> -->
  <div class="form-main">
    <!-- <h5>Welcome!</h5>
    <p>Sign In to your Acount</p> -->
    <form name="loginForm">
        <div class="row ">
          <div class="col-md-12 text-right">
            <i class="fa fa-times" (click)="onClose()"></i>
          </div>
        </div>
      <div class="st-line">
        <div class="row mb-3">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <label>User Name </label>
            <input type="text" class="form-control" placeholder="User Name">
            
          </div>

        </div>

   
      </div>
    </form>
  </div>
</div>