.signup-bg {
    // background-image : url(/assets/images/signup-bg.jpg);
    // height           : 100vh;
    // background-repeat: no-repeat;
    // background-size  : cover;
    // padding-bottom: 30px;
    // img {
    //     width      : 137px;
    //     margin     : auto;
    //     display    : block;
    //     padding-top: 40px;
    //     &:hover{
    //         cursor: pointer;
    //     }
    // }

    .form-main {
        background: white;
        width: 100%;
        margin: auto;
        padding: 13px 19px;
        border-radius: 15px;
        @media (max-width:1125px) {
            width: 30%;
        }
        @media (max-width:767px) {
            width: 40%;
         }
         @media (max-width:460px) {
            width: 70%;
         }
        h5{
            text-align: center;
            color: #476f76;
            font-family: "Lato", sans-serif;
            font-size: 18px;
        }
        p{
            text-align: left;
            font-size: 12px;
            font-family: "Lato", sans-serif;
        }
        .forget-line{
            text-align: left;
            margin: 0;
            font-size: 13px;
            color: #476f76;
            &:hover{
                cursor: pointer;
            }
        }
        .term-condition{
            p{
                text-align: left;
                font-size: 13px;
                line-height: 0;
                padding-top: 16px;
                font-family: "Lato", sans-serif;
            }

        }
        .btn-box{
            text-align: center;
            button{
                width: 100% !important;
                margin: 11px auto;
                color: #415e62;
                font-size: 14px;
            }
        }
        .have-ac-p{
            font-size: 13px;
            font-family: "Lato", sans-serif;
            color: #476f76;
            font-weight: 800;
            &:hover{
                cursor: pointer;
            }
        }
    }
}
.fa-times{
    &:hover{
        cursor: pointer;
    }
}
.eye-image-password{
  position: absolute !important;
  right: 25px !important;
  top: 44px !important;
  filter: opacity(0.5) !important;
}
button {
  background   : var(--secondary-color) !important;
  color        : #676161 !important;
  font-size    : 12px;
  padding      : 10px 6px;
  border       : 1px solid transparent !important;
  border-radius: 4px;
  width        : 40%;
  margin-top   : 34px;
}
button:disabled{
  background   : gray !important;
  color        : white !important;
}
