.signup-bg {
    background-image : url(/assets/images/signup-bg.jpg);
    background-repeat: no-repeat;
    background-size  : cover;
    padding-bottom: 30px;
    display: table;
    width: 100%;
    height: 100vh;
    img {
        width      : 140px;
        margin     : auto;
        display    : block;
        padding-top: 40px;
        &:hover{
            cursor: pointer;
        }
    }

    .form-main {
        background   : white;
        width        : 50%;
        margin       : auto;
        margin-top   : 45px;
        padding      : 13px 60px;
        border-radius: 15px;
        @media (max-width:1125px) {
           width: 66%;
        }
        @media (max-width:767px) {
            width: 80%;
         }
         @media (max-width:460px) {
            padding      : 13px 20px;
            width: 90%;
         }
        h5{
            text-align: center;
            color: #476f76;
            font-family: "Lato", sans-serif;
            font-size: 18px;
        }
        p{
            text-align: center;
            font-size: 12px;
            font-family: "Lato", sans-serif;
        }
        .term-condition{
            p{
                text-align: center;
                font-size: 13px;
                line-height: 0;
                padding-top: 16px;
                color: #476f76;
            }

        }
        .btn-box{
            text-align: center;
            button{
                width: 48% !important;
                margin: 11px auto;
                color: #415e62;
                font-size: 14px;
            }
        }
        .have-ac-p{
            font-size: 13px;
            font-family: "Lato", sans-serif;
            color: #476f76;
            font-weight: 800;
            &:hover{
                cursor: pointer;
            }
        }
    }

}
