<div class="forget-bg">
  <img src="./assets/images/logo.png" alt="" [routerLink]="['/home']" class="top-logo">
  <div class="login-page">
    <h5>Forget Password!</h5>
    <div class="form">
      <div class="login-form">
        <label>Email ID </label>
        <input type="text" placeholder="Email id" required #email1="ngModel"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="email" />
        <p class="custom-error" *ngIf="email=='' && email1.touched">
        <span *ngIf="email1.errors?.required">Email is a required field!</span>
        <span *ngIf="email1.errors?.pattern">This is not a valid Email!</span>
        </p>
        <button [disabled]="email1==''"  (click)="forget()">Submit</button>
      </div>
    </div>
  </div>
</div>
