<div class="selection-main">
  <div class="selection-middle-box">
      <div class="mid-box">
        <div class="selection-item" [routerLink]="['/buyer/buyer-home']">
          <figure style="background-image: url('./../../../assets/images/selection-1.jpg');">
           <div class="selection-content">
            <h6>I want to</h6>
            <h3>Search Vehicle</h3>
           </div>
          </figure>
        </div>
        <div class="or-box">
          <h5>OR</h5>
        </div>
        <div class="selection-item" [routerLink]="['/seller/seller-registration']"  >
          <figure style="background-image: url('./../../../assets/images/car-1.jpg');">
           <div class="selection-content">
            <h6>I want to</h6>
            <h3>List the vehicle</h3>
           </div>
          </figure>
        </div>
      </div>
  </div>
</div>
