<app-buyer-header></app-buyer-header>
<div class="verify-main">
  <img src="./assets/images/verify-girl.png" alt="">
  <div class="container">
    <h6 class="title">Check Vehicle Verification</h6>
    <div class="row mb-5">
      <div class="col-md-4 offset-md-4">
        <input type="text" placeholder="Enter Vehicle Regiration Number">
      </div>
      <div class="col-md-2">
        <button>Verify</button>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-2 offset-md-3">
        <p>Type</p>
        <h6>Sonic</h6>
      </div>
      <div class="col-md-2">
        <p>Transmission</p>
        <h6>Manual</h6>
      </div>
      <div class="col-md-2">
        <p>Type</p>
        <h6>Manual</h6>
      </div>
      <div class="col-md-2">
        <p>Transmission</p>
        <h6>Manual</h6>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-2 offset-md-3">
        <p>Color</p>
        <h6>Yelloe</h6>
      </div>
      <div class="col-md-2">
        <p>Fuel </p>
        <h6>Petrol</h6>
      </div>
      <div class="col-md-2">
        <p>Color</p>
        <h6>Yelloe</h6>
      </div>
      <div class="col-md-2">
        <p>Type</p>
        <h6>Manual</h6>
      </div>
    </div>

    <div class="row ">
      <div class="col-md-2 offset-md-3">
        <p>Type</p>
        <h6>Sonic</h6>
      </div>
      <div class="col-md-2">
        <p>Transmission</p>
        <h6>Manual</h6>
      </div>
      <div class="col-md-2">
        <p>Type</p>
        <h6>Manual</h6>
      </div>
      <div class="col-md-2">
        <p>Transmission</p>
        <h6>Manual</h6>
      </div>
    </div>
  </div>
</div>
<app-buyer-footer></app-buyer-footer>