header {
    padding: 22px 0px;
    position: absolute;
    width: 100%;
    background: #ffffff24;
    img {
        width: 105px;
        &:hover{
            cursor: pointer;
        }
    }

    nav {
       ul{
        list-style-type: none;
        text-align     : right;
        margin: 0;
        li{
            display: inline;
            padding: 0px 14px;
            position: relative;
            a{
                font-size: 13px;
            }
            button{
                background: transparent;
                padding: 8px 26px;
                border-radius: 5px;
                font-size: 13px;
                font-weight: bold;
                border: 1px solid #000;
            }
            .user-btn {
                background: #d8d8d8;
                border: 1px solid transparent;
                padding: 7px 0px;
                padding-left: 17px;

                .fa-user {
                    height: 25px;
                    width: 25px;
                    border: 1px solid;
                    border-radius: 50%;
                    text-align: center;
                    padding-top: 3px;
                    font-size: 16px;
                    background: black;
                    color: white;
                }

                h6 {
                    font-size: 12px;
                    font-weight: 700;
                    margin: 0;
                    margin-bottom: 3px;
                    text-align: right;
                    margin-top: 2px;
                }

                span {
                    background   : black;
                    color        : white;
                    font-size    : 9px;
                    border-radius: 9px;
                    padding      : 0px 5px;
                }
            }
            .chat-btn {
                .fa-comments {
                    margin-right: 5px;
                }

                padding      : 7px 21px;
                border-radius: 5px;
                font-size    : 14px;
                font-weight  : bold;
                border       : 1px solid #000;
                color        : black;
                font-family  : "Lato",
                sans-serif;
                font-weight: 400;
                text-align : center;
            }
            &:hover{
                cursor: pointer;
            }

            .sub-menu {
                display: block;
                width: 96%;
                right: -1px;
                position: absolute;
                background: white;
                top: 46px;
                z-index: 9;
                border-radius: 5px;
                text-align: center;
                box-shadow: 0px 0px 13px 2px #00000047;
                transition: 0.5s;
                li {
                    display      : block;
                    width        : 100%;
                    border-bottom: 1px solid rgb(185, 185, 185);
                    padding      : 9px 0;
                    font-family  : 'Lato', sans-serif;
                transition: 0.5s;

                    &:hover{
                        cursor: pointer;
                        background: #2c676f;
                        color: white;
                transition: 0.5s;

                    }
                }

                .last {
                    border-bottom: none;
                }

                &::before {
                    content   : "";
                    position  : absolute;
                    width     : 20px;
                    height    : 20px;
                    background: white;
                    transform : rotate(45deg);
                    right     : 14px;
                    top       : -6px;
                }
            }
        }
       }
    }
}