<app-dark-header></app-dark-header>
<div class="main">
  <div class="user-header">
    <h6>My Profile</h6>
  </div>
  
  <div class="user-main">
    <div class="row">
      <div class="col-md-3">
        <div class="image-main">
          <h1>Profile Picture</h1>
          <i class="fa fa-user"></i>
          <h6>admin admin</h6>
          <p class="user-name">Administer</p>
        </div>
      </div>
      <div class="col-md-9">
              <div class="detail-main">
                <h1>User</h1>
                
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-6">
                      <p>First Name</p>
                      <input type="text" placeholder="First Name">
                    </div>
          
                    <div class="col-md-6">
                      <p>Last Name</p>

                      <input type="text" placeholder="Last Name">
                    </div>
          
                  </div>
                </div>
        
                <div class="col-md-12 text-right">
                  <button>Update</button>
                </div>
            </div>
      </div>

      <div class="col-md-3">
      </div>
      <div class="col-md-9">
              <div class="detail-main mt-1">
                <h1>Change Password</h1>
                
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-6 offset-3">
                      <p> Current Password</p>
                      <input type="password" placeholder="current password">
                    </div>
          
                    <div class="col-md-6 offset-3">
                      <p> New Password</p>
                      <input type="password" placeholder="new password">
                    </div>
                    <div class="col-md-6 offset-3">
                      <p> Confirm Password</p>
                      <input type="password" placeholder="confirm password">
                    </div>
                  </div>
                </div>
        
                <div class="col-md-12  text-right">
                  <button>Update</button>
                </div>
            </div>
      </div>


    </div>
  </div>
</div>

<app-seller-footer></app-seller-footer>