<app-seller-header></app-seller-header>
<section class="banner">
  <div class="banner-content-main">
      <div class="banner-content">
          <h1>Sell Your Vehicle Easliy</h1>
          <p>Lorem, ipsum.</p>
          <button [routerLink]="['/seller-registration']" class="button-primary">Post a Vehicle</button>
      </div>
  </div>
</section>

<section class="wounder sec-padding">
  <div class="container">
      <div class="wounder-title">
          <h3>Wounder how it works?</h3>
      </div>
      <div class="wounder-box">
          <!-- <div class="col-lg-4 col-md-6"> -->
              <div class="post-main">
                  <div class="post-content">
                      <img src="./assets/images/service-1.png" alt="">
                      <div class="post-inner-content">
                      <h4>Post Your Vehicle</h4>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi doloremque tempora earum natus minus quae facilis corporis exercitationem harum, soluta nobis aperiam at deleniti tempore illum dolor.</p>
                      </div>
                  </div>
              </div>
          <!-- </div> -->

          <!-- <div class="col-lg-4 col-md-6"> -->
              <div class="post-main">
                  <div class="post-content">
                      <img src="./assets/images/service-3.png" alt="" style="width: 259px;">
                      <div class="post-inner-content">
                      <h4>Post Your Vehicle</h4>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi doloremque tempora earum natus minus quae facilis corporis exercitationem harum, soluta nobis aperiam at deleniti tempore illum dolor.</p>
                      </div>
                  </div>
              </div>
          <!-- </div> -->

          <!-- <div class="col-lg-4 col-md-6"> -->
            <div class="post-main">
                <div class="post-content">
                    <img src="./assets/images/service-2.png" alt="" style="width: 181px;">
                    <div class="post-inner-content">
                    <h4>Post Your Vehicle</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi doloremque tempora earum natus minus quae facilis corporis exercitationem harum, soluta nobis aperiam at deleniti tempore illum dolor.</p>
                    </div>
                </div>
            </div>
        <!-- </div> -->
      </div>
  </div>
</section>

<section class="choose sec-padding">
  <div class="container">
      <div class="choose-title">
          <h1>Why Choose Us?</h1>
      </div>
      <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-12">
              <div class="choose-image">
              </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-12">
              <div class="choose-content">
                  <h4>Search For  your Car</h4>
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius quae cum accusantium expedita! Iusto laborum, debitis minus ullam animi, ab optio unde pariatur modi iure, laboriosam ipsa fugit quae deserunt atque consequatur sint commodi? Temporibus cumque iure asperiores ut nam vel nemo at. Reprehenderit eaque illo cumque fugiat incidunt nostrum.</p>
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod doloribus, quae dignissimos nobis accusamus, deleniti eius, maiores voluptatibus voluptate iusto odio quisquam alias dolore debitis quia maxime minus adipisci id beatae corporis quasi dolorum aperiam veritatis officia! Consequuntur, necessitatibus nobis.</p>
              </div>
          </div>
      </div>

      <div class="row mg-top"> 
          <div class="col-lg-6 col-md-6 col-sm-12 col-12">
              <div class="choose-content">
                  <h4>Search For  your Car</h4>
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius quae cum accusantium expedita! Iusto laborum, debitis minus ullam animi, ab optio unde pariatur modi iure, laboriosam ipsa fugit quae deserunt atque consequatur sint commodi? Temporibus cumque iure asperiores ut nam vel nemo at. Reprehenderit eaque illo cumque fugiat incidunt nostrum.</p>
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod doloribus, quae dignissimos nobis accusamus, deleniti eius, maiores voluptatibus voluptate iusto odio quisquam alias dolore debitis quia maxime minus adipisci id beatae corporis quasi dolorum aperiam veritatis officia! Consequuntur, necessitatibus nobis.</p>
              </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-12">
              <div class="choose-image-right">
              </div>
          </div>
      </div>
  </div>
</section>

<app-footer></app-footer>