* {
    padding: 0;
    margin : 0;
}

body {
    background-color: #eff0f2 !important;
}

.sec-padding {
    padding: 70px 0px;
}

/* ******************************************Form******************************************** */
.banner {
    background-image   : url(../../../../assets/images/buyer-home-bg.jpg);
    width              : 100%;
    height             : 100vh;
    background-size    : cover;
    background-position: top;
}

.banner-main {
    height     : 100vh;
    display    : flex;
    align-items: center;
}

.limit-ban {
    width : 90%;
    margin: auto;
}

.form-title h2 {
    color     : #fff;
    text-align: center;

    @media only screen and (max-width: 320px) {
        margin-bottom: 0;
    }
}

.form {
    background-color         : #18464ccf;
    padding                  : 60px 70px;
    position                 : relative;
    overflow                 : hidden;
    border-top-left-radius   : 10px;
    border-bottom-left-radius: 10px;
    padding-top              : 39px;

    @media only screen and (max-width: 1024px) {
        padding: 60px 35px;
    }

    @media only screen and (max-width: 991px) {
        padding                : 14px 68px;
        border-top-right-radius: 10px;
    }

    @media only screen and (max-width: 768px) {
        padding                  : 16px 57px;
        border-top-left-radius   : 10px;
        border-top-right-radius  : 10px;
        border-bottom-left-radius: unset;
    }

    @media only screen and (max-width: 480px) {
        padding: 16px 10px;
    }

    select {
        @media only screen and (max-width: 480px) {
            width     : 99% !important;
            text-align: center !important;
            margin    : auto !important;
        }

        option {
            @media only screen and (max-width: 480px) {
                text-align: center !important;
            }
        }
    }

    button {
        @media only screen and (max-width: 480px) {
            width: 100% !important;
        }
    }
}

.form::before {
    content          : "";
    position         : absolute;
    background-image : url(../../../../assets/images/arrow.png);
    width            : 130px;
    height           : 150px;
    background-repeat: no-repeat;
    background-size  : cover;
    top              : 17px;
    left             : -47px;

    @media only screen and (max-width: 768px) {
        top   : 3px;
        left  : -54px;
        width : 100px;
        height: 105px;
    }
}

.make-inpt select {
    border       : none;
    border-radius: 5px;
    padding      : 12px 10px;
    width        : 100%;
    width        : 91%;
    margin       : auto 8px;
}

.mg-tb {
    margin: 19px 0px 0px 0px;
}

.chck-bx {
    color       : #fff;
    margin      : 20px 45px 20px 10px;
    margin-right: 12px;
}

.butn button {
    background-color: #c9e165;
    border          : none;
    padding         : 10px 80px;
    border-radius   : 5px;
    text-align      : center;
}

.post-main {
    background-color          : #ffffff;
    padding                   : 32px 0px 0px 0px;
    border-top-right-radius   : 10px;
    border-bottom-right-radius: 10px;
    display                   : flex;
    justify-content           : center;

    @media only screen and (max-width: 991px) {
        padding                   : 10px 0px 15px 0px;
        border-bottom-left-radius : 10px;
        border-bottom-right-radius: 10px;
    }

    @media only screen and (max-width: 768px) {
        padding                   : 10px 0px 10px 0px;
        border-bottom-left-radius : 10px;
        border-bottom-right-radius: 10px;
    }

}

.post-main .post-content h2 {
    color        : #434343;
    margin-bottom: 30px;

    @media only screen and (max-width: 480px) {
        margin-bottom: 0;
    }
}

.post-main .post-content p {
    @media only screen and (max-width: 480px) {
        margin-bottom: 0;
    }
}

.post-main .post-content p i {
    color       : #2c676f;
    font-size   : 20px;
    margin-right: 5px;

}

.post-main .post-content p {
    color    : #5b5b5b;
    font-size: 15px;
}

.post-main .post-butn {
    text-align: center;
    text-align: center;
    margin-top: 33px;

    @media only screen and (max-width: 480px) {
        margin-top: 5px;
    }
}

.post-main .post-butn button {
    background-color: #2c676f;
    border          : none;
    color           : #fff;
    padding         : 10px 30px;
    font-weight     : 600;
    border-radius   : 5px;
    font-size       : 17px;
}

/* ******************************************Subbmitted******************************************** */
.subbmit {
    background: #efefef;

    .submit-container {
        width : 90%;
        margin: auto;
    }
}

.subbmit-title h4 {
    color        : #3e3e3e;
    margin-bottom: 30px;
    font-weight  : 900;
    font-size    : 21px;
    font-family  : "Lato", sans-serif !important;
}

.tesla-main {
    padding         : 12px 20px;
    border-radius   : 8px;
    background-color: #fff;
    margin-bottom   : 15px;
    margin-right    : 15px;

}

.tesla-content .tesla-head {
    display      : flex;
    align-items  : center;
    margin-bottom: 20px;
}

.tesla-content .tesla-head h5 {
    width      : 80%;
    color      : #3e3e3e;
    font-weight: 900;
    font-size  : 18px;
    font-family: "Lato", sans-serif !important;
}

.tesla-content .tesla-head button i {
    color       : #3e3e3e;
    margin-right: 10px;
    margin-top  : 3px;
}

.tesla-content .tesla-head button {
    margin-right : 50px;
    border       : none;
    padding      : 7px 23px;
    display      : flex;
    border-radius: 4px;

    @media only screen and (max-width: 320px) {
        margin-right: 10px;
    }
}

.tesla-content .tesla-head span a i {
    color    : #eb7170;
    font-size: 19px;
}

.fuel p {
    color        : #9a9a9a;
    margin-bottom: 5px;
    font-size    : 12px;
    text-align   : left;
    overflow     : hidden;
    text-overflow: ellipsis;
    white-space  : nowrap;
}

.fuel h5 {
    color        : #3e3e3e;
    margin       : 0;
    font-size    : 14px;
    text-align   : left;
    font-weight  : 900;
    font-family  : "Lato", sans-serif !important;
    overflow     : hidden;
    text-overflow: ellipsis;
    white-space  : nowrap;
}



.tesla-spec .blue {
    position: relative;
}

.tesla-spec .blue p {
    color        : #9a9a9a;
    margin-bottom: 3px;
    font-size    : 13px;
    text-align   : left;
    overflow     : hidden;
    text-overflow: ellipsis;
    white-space  : nowrap;
}

.tesla-spec .blue h5 {
    color        : #3e3e3e;
    margin       : 0;
    font-size    : 14px;
    text-align   : left;
    font-weight  : 900;
    font-family  : "Lato", sans-serif !important;
    overflow     : hidden;
    text-overflow: ellipsis;
    white-space  : nowrap;
}

.last-column {
    text-align: right;
}

.last-column p {
    margin       : 0;
    overflow     : hidden;
    text-overflow: ellipsis;
    white-space  : nowrap;
}

// .tesla-spec .blue h5::before {
//     content         : "";
//     position        : absolute;
//     width           : 20px;
//     height          : 20px;
//     border-radius   : 50%;
//     background-color: #3da7f5;
//     top             : 25px;
//     right           : 050px;
// }
.color-ball {
    background   : red;
    padding      : 9px;
    display      : block;
    width        : 20%;
    float        : right;
    height       : 20px;
    width        : 20px;
    border-radius: 50%;
    margin-top   : 21px;
}

.date {
    width      : 100%;
    display    : flex;
    align-items: center;
    margin-top : 9px
}

.date .view-1 {
    width    : 50%;
    float    : left;
    color    : #9a9a9a;
    font-size: 10px;
}

.date .view-2 {
    width     : 50%;
    float     : left;
    color     : #9a9a9a;
    text-align: right;
}

.date .view-1 a i {
    color: #c4c4c4;
}

.date p {
    color    : #9a9a9a;
    font-size: 10px;
}

.date .view-2 a i {
    color: #9d9d9d;
}

.mg-top {
    margin-top: 40px;
}

.butn {
    text-align: center;
}

.offer {
    background    : #efefef;
    padding-bottom: 30px;

    .offer-container {
        width : 90%;
        margin: auto;

        .offer-title {
            h4 {
                color        : #3e3e3e;
                margin-bottom: 30px;
                font-weight  : 900;
                font-size    : 21px;
                font-family  : "Lato", sans-serif !important;
            }
        }

        .submitted-main-row {
            margin-bottom: 40px;

            .image-box {
                figure {
                    margin         : 0;
                    position       : absolute;
                    top            : 25px;
                    background-size: cover;
                    /* height      : 100px; */
                    width          : 127%;
                    height         : 87px;
                    z-index        : 11;
                    border-radius  : 10px;
                    right          : -38px;
                    background-position: center;
                    @media(max-width:480px) {
                        margin: 0;
                        position: relative;
                        top: 45px;
                        background-size: cover;
                        width: 50%;
                        height: 87px;
                        z-index: 11;
                        border-radius: 10px;
                        margin: auto;
                        left: 0;
                    }
                }
            }

            .offer-main {
                background   : white;
                padding      : 20px 20px;
                padding-left : 75px;
                border-radius: 10px;
                @media(max-width:480px) {
                    text-align: left;
                    padding-left: 20px;
                    padding-top: 58px;
                }
                .car-name {
                    margin     : 0;
                    font-size  : 19px;
                    font-weight: 900;
                    font-family: 'Lato', sans-serif !important;
                }

                .posted-time {
                    margin        : 0;
                    font-size     : 9px;
                    color         : #80808082;
                    // margin-top : 7px;
                    font-family   : 'Lato', sans-serif;
                }

                .light-text {
                    margin     : 0;
                    color      : #8080807d;
                    font-family: 'Lato', sans-serif;
                }

                .dark-text {
                    margin     : 0;
                    font-family: 'Lato', sans-serif;
                }

                .price-box {
                    height      : 100%;
                    border-left : 1px solid #d6d6d6;
                    text-align  : center;
                    display     : table;
                    width       : 100%;
                    border-right: 1px solid #d6d6d6;
                    @media(max-width:480px) {
                        border-left : unset;
                        border-right: unset;
                        border-top: 1px solid #d6d6d6;
                        border-bottom: 1px solid #d6d6d6;
                        padding-top: 8px;
                    }
                    .price-middle-box {
                        display       : table-cell;
                        vertical-align: middle;
                        text-align    : left;

                        padding: 0 30px;

                        @media(max-width:1200px) {
                            padding   : 0 10px;
                            text-align: center;
                        }
                        
                        h6 {
                            font-size  : 14px;
                            font-family: 'Lato', sans-serif !important;
                            color      : #316872;
                            font-weight: 900;
                        }

                        h4 {
                            font-size  : 23px;
                            font-family: 'Lato', sans-serif !important;
                            color      : #316872;
                            font-weight: 900;
                        }
                    }
                }

                .last-section {
                    text-align   : left;
                    text-align   : left;
                    padding      : 0px 30px;
                    padding-right: 25px;

                    @media(max-width:1024px) {
                        padding      : 0px 12px;
                        padding-right: 16px;
                    }

                    p {
                        // margin: 0;
                        font-family: 'Lato', sans-serif !important;
                        color      : black;
                        font-weight: 900;
                    }

                    .pap-name {
                        font-family: "Lato", sans-serif !important;
                        color      : #316872;
                        font-weight: 400;
                    }

                    h6 {
                        font-family: "Lato", sans-serif !important;
                        color      : black;
                        font-weight: 500;
                        font-size  : 19px;
                    }

                    button {
                        border       : 1px solid #c5bebe;
                        padding      : 8px 9px;
                        background   : white;
                        border-radius: 5px;
                        margin       : 9px;
                        width        : 100%;
                        color        : #c5bebe;
                        font-family  : "Lato", sans-serif;
                        position     : relative;
                        font-size    : 13px;
                        background   : #316872;
                        color        : white;
                        font-weight  : 800;

                        i {
                            position: absolute;
                            left    : 8px;
                            top     : 10px;
                        }

                        .fa-times {
                            height       : 20px;
                            width        : 20px;
                            border       : 1px solid;
                            border-radius: 50%;
                            line-height  : 1.4;
                        }
                        @media(max-width:767px) {
                            margin: 0;
                            margin-bottom: 10px;
                        }
                    }

                    .remove-btn {
                        border       : 1px solid #316872;
                        padding      : 8px 9px;
                        background   : white;
                        border-radius: 5px;
                        margin       : 9px;
                        width        : 100%;
                        color        : #c5bebe;
                        font-family  : "Lato", sans-serif;
                        position     : relative;
                        font-size    : 13px;
                        background   : white;
                        color        : #316872;
                        font-weight  : 800;
                        margin-left  : 22px;
                        @media(max-width:767px) {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}

.bg-white {
    background: white;
}

@media only screen and (max-width: 991px) {
    .sm-border-radius {
        border-bottom-left-radius : 10px !important;
        border-bottom-right-radius: 10px !important;
    }

}