    <app-buyer-header></app-buyer-header>
<div class="banner">
  <div class="container-fluid">
      <div class="banner-main">
          <div class="limit-ban">
            <div class="row">
              <div class="col-lg-7 pr-0">
                  <div class="form">
                      <div class="form-title">
                          <h2>Search For Your Perfect Car</h2>
                      </div>
                      <div class="row">
                          <div class="col-lg-4 mg-tb">
                              <div class="make-inpt">                                  
                                  <select class="" >
                                      <option> Select Make  </option>
                                      <option> AUDI </option>
                                      <option> BMW</option>
                                      <option> CHEVROLET</option>
                                  </select>
                              </div>
                          </div>
                          <div class="col-lg-4 mg-tb">
                              <div class="make-inpt">                                 
                                  <select class="" >
                                    <option> Select Model  </option>
                                    <optgroup label="AUDI">
                                        <option> 100 </option>

                                    </optgroup>
                                    <optgroup label="BMW">
                                        <option>  1 Series </option>
                                    </optgroup>
                                    <optgroup label="Chevrolet">
                                        <option> 1500 Extended Cab</option>
                                    </optgroup>
                                    
                                </select>
                              </div>
                          </div>

                          <div class="col-lg-4 mg-tb">
                              <div class="make-inpt">
                                  
                                  <select class="" >
                                    <option> Select Year  </option>
                                    <option> 2021 </option>
                                    <option> 2020</option>
                                    <option> 2019</option>
                                    <option> 2018</option>
                                    <option> 2017</option>
                                    <option> 2016</option>
                                    <option> 2015</option>
                                    <option> 2014</option>
                                    <option> 2013</option>
                                    <option> 2012</option>
                                    <option> 2011</option>
                                    <option> 2010</option>
                                </select>
                              </div>
                          </div>

                          <div class="col-lg-12 offset-lg-2">
                              <div class="chck-bx">
                                  <div class="row">
                                      <div class="col-md-4">
                                        <input type="checkbox">
                                        Manufacture Approved
                                      </div>
                                      <div class="col-md-4">
                                        <input type="checkbox">
                                        Recommended Dealer
                                      </div>
                                      <div class="col-md-4 text-right">
                                        <div (click)="openDialog()" style="cursor: pointer; text-decoration: underline;">
                                            More Filters
                                        </div>                                        
                                      </div>
                                  </div>
                                  
                                  
                              </div>
                          </div>

                          <div class="col-lg-12 offset-lg-4">
                              <div class="butn">
                                  <button [routerLink]="[ '/buyer/advance-filter' ]">Search</button>
                              </div>
                              
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col-lg-5 pl-0 bg-white">
                  <div class="post-main">
                      <div class="post-content">
                          <h2>Post Your Requirements</h2>
                          <p> <i class="fa fa-angle-right"></i> Let Us Do The Work For You</p>
                          <p> <i class="fa fa-angle-right"></i> set Your a Receive Offers in Minutes</p>
                          <div class="post-butn">
                              <button (click)="openRequirmentDailoge()">Post Your Requirements</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          </div>
      </div>
  </div>
</div>

<div class="subbmit sec-padding">
  <div class="submit-container">
      <div class="subbmit-title">
          <h4>Submitted Requirements</h4>
      </div>
      <div class="row">

          <div class="col-lg-6">
              <div class="tesla-main">
                  <div class="tesla-content">
                      <div class="tesla-head">
                          <h5>Tesla Model X</h5>
                          <button><i class="fa fa-pencil"></i>Edit</button>
                          <span><a href=""><i class="fa fa-trash"></i></a></span>
                      </div>
                      <div class="tesla-spec">
                          <div class="row">
                              <div class="col-lg-3">
                                  <div class="fuel">
                                      <p>Fuel Type</p>
                                      <h5>Electric</h5>
                                  </div>
                              </div>
                              <div class="col-lg-3">
                                  <div class="fuel">
                                      <p>Capacity</p>
                                      <h5>1500 cc</h5>
                                  </div>
                              </div>
                              <div class="col-lg-3">
                                  <div class="blue">
                                      <p>color</p>
                                      <h5>Blue</h5>
                                  </div>
                              </div>
                              <div class="col-lg-3">
                                  <div class="fuel pd-right">
                                      <p>Max Age</p>
                                      <h5>6 Year</h5>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="date">
                          <p class="view-1"><a href=""><i class="fa fa-calendar mr-2"></i></a> Posted 2 Days Ago</p>
                          <p class="view-2"><a href=""><i class="fa fa-eye mr-2"></i></a> 344 views</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-6">
            <div class="tesla-main">
                <div class="tesla-content">
                    <div class="tesla-head">
                        <h5>Tesla Model X</h5>
                        <button><i class="fa fa-pencil"></i>Edit</button>
                        <span><a href=""><i class="fa fa-trash"></i></a></span>
                    </div>
                    <div class="tesla-spec">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="fuel">
                                    <p>Fuel Type</p>
                                    <h5>Electric</h5>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="fuel">
                                    <p>Capacity</p>
                                    <h5>1500 cc</h5>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="blue">
                                    <p>color</p>
                                    <h5>Blue</h5>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="fuel pd-right">
                                    <p>Max Age</p>
                                    <h5>6 Year</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="date">
                        <p class="view-1"><a href=""><i class="fa fa-calendar mr-2"></i></a> Posted 2 Days Ago</p>
                        <p class="view-2"><a href=""><i class="fa fa-eye mr-2"></i></a> 344 views</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="tesla-main">
                <div class="tesla-content">
                    <div class="tesla-head">
                        <h5>Tesla Model X</h5>
                        <button><i class="fa fa-pencil"></i>Edit</button>
                        <span><a href=""><i class="fa fa-trash"></i></a></span>
                    </div>
                    <div class="tesla-spec">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="fuel">
                                    <p>Fuel Type</p>
                                    <h5>Electric</h5>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="fuel">
                                    <p>Capacity</p>
                                    <h5>1500 cc</h5>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="blue">
                                    <p>color</p>
                                    <h5>Blue</h5>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="fuel pd-right">
                                    <p>Max Age</p>
                                    <h5>6 Year</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="date">
                        <p class="view-1"><a href=""><i class="fa fa-calendar-alt mr-2"></i></a> Posted 2 Days Ago</p>
                        <p class="view-2"><a href=""><i class="fa fa-eye mr-2"></i></a> 344 views</p>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-lg-6">
            <div class="tesla-main">
                <div class="tesla-content">
                    <div class="tesla-head">
                        <h5>Tesla Model X</h5>
                        <button><i class="fa fa-pencil"></i>Edit</button>
                        <span><a href=""><i class="fa fa-trash"></i></a></span>
                    </div>
                    <div class="tesla-spec">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="fuel">
                                    <p>Fuel Type</p>
                                    <h5>Electric</h5>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="fuel">
                                    <p>Capacity</p>
                                    <h5>1500 cc</h5>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="blue">
                                    <p>color</p>
                                    <h5>Blue</h5>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="fuel pd-right">
                                    <p>Max Age</p>
                                    <h5>6 Year</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="date">
                        <p class="view-1"><a href=""><i class="fa fa-calendar mr-2"></i></a> Posted 2 Days Ago</p>
                        <p class="view-2"><a href=""><i class="fa fa-eye mr-2"></i></a> 344 views</p>
                    </div>
                </div>
            </div>
        </div>


      </div>
  </div>
</div>

<div class="offer sec-padding pt-0">
  <div class="offer-container">
    <div class="offer-title">
        <h4>Received Offers</h4>
    </div>
    <div class="submitted-main-row">
        <div class="row">
            <div class="col-md-1">
                <div class="image-box">
                    <figure style="background-image: url('./assets/images/car-1.jpg');">

                    </figure>
                </div>
            </div>
            <div class="col-md-11">
                <div class="offer-main">
                    <div class="row ">
                        <div class="col-md-6">
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <h6 class="car-name">
                                        Toyota Hilux
                                    </h6>
                                </div>
                                <div class="col-md-8">
                                    <p class="posted-time">
                                        <i class="fa fa-calendar mr-1" style="color: black;"></i>
                                        Posted 2 hrs ago
                                    </p>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <p class="light-text">Type</p>
                                    <p class="dark-text">Sonic i 700 SL</p>
                                </div>
                                <div class="col-md-4">
                                    <p class="light-text">Type</p>
                                    <p class="dark-text">Sonic i 700 SL</p>
                                </div>
                                <div class="col-md-4">
                                    <p class="light-text">Type</p>
                                    <p class="dark-text">Sonic i 700 SL</p>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <p class="light-text">Type</p>
                                    <p class="dark-text">Sonic i 700 SL</p>
                                </div>
                                <div class="col-md-4">
                                    <p class="light-text">Type</p>
                                    <p class="light-text">Sonic i 700 SL</p>
                                </div>
                                <div class="col-md-4">
                                    <p class="light-text">Type</p>
                                    <p class="dark-text">Sonic i 700 SL</p>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-2">
                            <div class="price-box">
                                <div class="price-middle-box">
                                    <h6>Demand</h6>
                                    <h4>$ 12,000</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="last-section">
                                <p>Seller</p>
                                <h6>Alex Bolten</h6>
                                <p class="pap-name"> <i class="fa fa-paper-plane mr-2"></i> Los Angles, Taxes, USA </p>
                                
                                <div class="row">
                                    <div class="col-md-7">
                                        <button> <i class="fa fa-comment mr-1"></i> Start a Chat</button>
                                    </div>
                                    <div class="col-md-5">
                                        <button class="remove-btn"> Remove</button>
                                    </div>
                                </div>

                               
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="submitted-main-row">
        <div class="row">
            <div class="col-md-1">
                <div class="image-box">
                    <figure style="background-image: url('./assets/images/car-1.jpg');">

                    </figure>
                </div>
            </div>
            <div class="col-md-11">
                <div class="offer-main">
                    <div class="row ">
                        <div class="col-md-6">
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <h6 class="car-name">
                                        Toyota Hilux
                                    </h6>
                                </div>
                                <div class="col-md-8">
                                    <p class="posted-time">
                                        <i class="fa fa-calendar mr-1" style="color: black;"></i>
                                        Posted 2 hrs ago
                                    </p>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <p class="light-text">Type</p>
                                    <p class="dark-text">Sonic i 700 SL</p>
                                </div>
                                <div class="col-md-4">
                                    <p class="light-text">Type</p>
                                    <p class="dark-text">Sonic i 700 SL</p>
                                </div>
                                <div class="col-md-4">
                                    <p class="light-text">Type</p>
                                    <p class="dark-text">Sonic i 700 SL</p>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <p class="light-text">Type</p>
                                    <p class="dark-text">Sonic i 700 SL</p>
                                </div>
                                <div class="col-md-4">
                                    <p class="light-text">Type</p>
                                    <p class="light-text">Sonic i 700 SL</p>
                                </div>
                                <div class="col-md-4">
                                    <p class="light-text">Type</p>
                                    <p class="dark-text">Sonic i 700 SL</p>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-2">
                            <div class="price-box">
                                <div class="price-middle-box">
                                    <h6>Demand</h6>
                                    <h4>$ 12,000</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="last-section">
                                <p>Seller</p>
                                <h6>Alex Bolten</h6>
                                <p class="pap-name"> <i class="fa fa-paper-plane mr-2"></i> Los Angles, Taxes, USA </p>
                                
                                <div class="row">
                                    <div class="col-md-7">
                                        <button> <i class="fa fa-comment mr-1"></i> Start a Chat</button>
                                    </div>
                                    <div class="col-md-5">
                                        <button class="remove-btn"> Remove</button>
                                    </div>
                                </div>

                               
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    </div>
</div>
<app-buyer-footer></app-buyer-footer>
