<app-buyer-header></app-buyer-header>
<div class="advance-filter-main">
  <div class="advance-filter-left">

      <h6 class="main-title">Advance Filters</h6>

    <p>General</p>


    <select class="" >
        <option> Make  </option>
        <option> AUDI </option>
        <option> BMW</option>
        <option> CHEVROLET</option>
    </select>

    <select class="" >
        <option> Model  </option>
        <optgroup label="AUDI">
            <option> 100 </option>

        </optgroup>
        <optgroup label="BMW">
            <option>  1 Series </option>
        </optgroup>
        <optgroup label="Chevrolet">
            <option> 1500 Extended Cab</option>
        </optgroup>
    </select>

<div class="col-md-12 mb-5 p-0">
    <p class="year-title">Year</p>
<div class="rangeslider">
  <input class="min" name="range_1" type="range" min="1" max="100" value="10" />
  <input class="max" name="range_1" type="range" min="1" max="100" value="90" />
  <span class="range_min light left">2002</span>
  <span class="range_max light right">2014</span>
</div>
</div>

  
  <input type="text" placeholder="Min Price" class="mt-3">
  <input type="text" placeholder="Max Price">

  <p class="mt-4">Body Condition</p>

  <select name="" id="">
    <option value="">Color</option>
</select>
<select name="" id="">
    <option value="">Gear Box</option>
</select>
  <input type="Date">
  <select name="" id="">
    <option value="">Body Style</option>
</select>

  <p>Exported</p>

  <div class="row">
    <div class="col-md-6">
      <input type="radio"> Yes
    </div>

    <div class="col-md-6">
      <input type="radio"> No
    </div>
  </div>

  <input type="date">


  <p>Accessories</p>

  <select name="" id="">
    <option value="">Panel Condition</option>
</select>

<select name="" id="">
    <option value="">Panel Condition</option>
</select>



<select name="" id="">
    <option value="">Panel Condition</option>
</select>



<select name="" id="">
    <option value="">Panel Condition</option>
</select>



 <div class="row">
   <div class="col-md-12 mb-3 mt-3">
    <input type="checkbox"> Manufacturing Approaved
   </div>
 </div>
 <div class="row">
  <div class="col-md-12">
   <input type="checkbox"> Recommended Dealer
  </div>
</div>
</div>
<div class="advance-filter-right">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <p class="found-para">20 Results Found</p>
      </div>
      <div class="col-md-3 offset-md-4">
       <div class="row">
           <div class="col-md-3 text-right mt-2 p-0">
            <label>Sort</label>
           </div>
           <div class="col-md-9">
               <select name="" id="">

                <option value="">Newest</option>
                <option value="">Oldest</option>
               </select>
           </div>
       </div>
      </div>
    </div>


    <div class="submitted-main-row">
      <div class="row">
          <div class="col-md-1">
              <div class="image-box">
                  <figure [routerLink]="['/single-car']" style="background-image: url('./assets/images/car-1.jpg');">

                  </figure>
              </div>
          </div>
          <div class="col-md-10">
              <div class="offer-main">
                <div class="row">
                    <div class="col-md-12 text-right">
                        <p class="posted-time">
                            <i class="fa fa-calendar"></i> Posted 2 hrs ago
                         </p>
                    </div>
                </div>
                <div class="row">
                  
                        <h6 class="car-name">
                            Tesla Model X
                        </h6>
                       
                    
                   
                        <p class="car-mod">2017</p>
                   
                   
                      <p class="view-para"><i class="fa fa-eye"></i> 2.5k</p>
           
                
                      <span class="ver-span">
                          <i class="fa fa-sield"></i>
                          <i class="fa fa-check"></i> Verified Seller
                      </span>
               
                
                   
               
                </div>
                  <div class="row">
                    <p class="car-bot"><i class="fa fa-paper-plane"></i> Huaston, Taxes</p>
                  </div>
                  <div class="row ">
                      <div class="col-md-9">
                     
                          <div class="row mb-3">
                              <div class="col-md-4">
                                  <p class="light-text">Type</p>
                                  <p class="dark-text">Sonic i 700 SL</p>
                              </div>
                              <div class="col-md-4">
                                  <p class="light-text">Type</p>
                                  <p class="dark-text">Sonic i 700 SL</p>
                              </div>
                              <div class="col-md-4">
                                  <p class="light-text">Type</p>
                                  <p class="dark-text">Sonic i 700 SL</p>
                              </div>
                          </div>

                          <div class="row mb-3">
                              <div class="col-md-4">
                                  <p class="light-text">Type</p>
                                  <p class="dark-text">Sonic i 700 SL</p>
                              </div>
                              <div class="col-md-4">
                                  <p class="light-text">Type</p>
                                  <p class="light-text">Sonic i 700 SL</p>
                              </div>
                              <div class="col-md-4">
                                  <p class="light-text">Type</p>
                                  <p class="dark-text">Sonic i 700 SL</p>
                              </div>
                          </div>

                      </div>
                      <div class="col-md-3 p-0">
                          <div class="price-box">
                              <div class="price-middle-box">
                                  <h6>Demand</h6>
                                  <h4>$ 12,000</h4> 
                                  <button class="chat-btn" [routerLink]="['/chat']"> <i class="fa fa-comment"></i> Chat With Seller</button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>


  <div class="submitted-main-row">
    <div class="row">
        <div class="col-md-1">
            <div class="image-box">
                <figure [routerLink]="['/single-car']" style="background-image: url('./assets/images/car-1.jpg');">

                </figure>
            </div>
        </div>
        <div class="col-md-10">
            <div class="offer-main">
              <div class="row">
                  <div class="col-md-12 text-right">
                      <p class="posted-time">
                          <i class="fa fa-calendar"></i> Posted 2 hrs ago
                       </p>
                  </div>
              </div>
              <div class="row">
                
                      <h6 class="car-name">
                          Tesla Model X
                      </h6>
                     
                  
                 
                      <p class="car-mod">2017</p>
                 
                 
                    <p class="view-para"><i class="fa fa-eye"></i> 2.5k</p>
         
              
                    <span class="ver-span">
                        <i class="fa fa-sield"></i>
                        <i class="fa fa-check"></i> Verified Seller
                    </span>
             
              
                 
             
              </div>
                <div class="row">
                  <p class="car-bot"><i class="fa fa-paper-plane"></i> Huaston, Taxes</p>
                </div>
                <div class="row ">
                    <div class="col-md-9">
                   
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <p class="light-text">Type</p>
                                <p class="dark-text">Sonic i 700 SL</p>
                            </div>
                            <div class="col-md-4">
                                <p class="light-text">Type</p>
                                <p class="dark-text">Sonic i 700 SL</p>
                            </div>
                            <div class="col-md-4">
                                <p class="light-text">Type</p>
                                <p class="dark-text">Sonic i 700 SL</p>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-4">
                                <p class="light-text">Type</p>
                                <p class="dark-text">Sonic i 700 SL</p>
                            </div>
                            <div class="col-md-4">
                                <p class="light-text">Type</p>
                                <p class="light-text">Sonic i 700 SL</p>
                            </div>
                            <div class="col-md-4">
                                <p class="light-text">Type</p>
                                <p class="dark-text">Sonic i 700 SL</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-3 p-0">
                        <div class="price-box">
                            <div class="price-middle-box">
                                <h6>Demand</h6>
                                <h4>$ 12,000</h4> 
                                <button class="chat-btn" [routerLink]="['/chat']"> <i class="fa fa-comment"></i> Chat With Seller</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="submitted-main-row">
    <div class="row">
        <div class="col-md-1">
            <div class="image-box">
                <figure [routerLink]="['/single-car']" style="background-image: url('./assets/images/car-1.jpg');">

                </figure>
            </div>
        </div>
        <div class="col-md-10">
            <div class="offer-main">
              <div class="row">
                  <div class="col-md-12 text-right">
                      <p class="posted-time">
                          <i class="fa fa-calendar"></i> Posted 2 hrs ago
                       </p>
                  </div>
              </div>
              <div class="row">
                
                      <h6 class="car-name">
                          Tesla Model X
                      </h6>
                     
                  
                 
                      <p class="car-mod">2017</p>
                 
                 
                    <p class="view-para"><i class="fa fa-eye"></i> 2.5k</p>
         
              
                    <span class="ver-span">
                        <i class="fa fa-sield"></i>
                        <i class="fa fa-check"></i> Verified Seller
                    </span>
             
              
                 
             
              </div>
                <div class="row">
                  <p class="car-bot"><i class="fa fa-paper-plane"></i> Huaston, Taxes</p>
                </div>
                <div class="row ">
                    <div class="col-md-9">
                   
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <p class="light-text">Type</p>
                                <p class="dark-text">Sonic i 700 SL</p>
                            </div>
                            <div class="col-md-4">
                                <p class="light-text">Type</p>
                                <p class="dark-text">Sonic i 700 SL</p>
                            </div>
                            <div class="col-md-4">
                                <p class="light-text">Type</p>
                                <p class="dark-text">Sonic i 700 SL</p>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-4">
                                <p class="light-text">Type</p>
                                <p class="dark-text">Sonic i 700 SL</p>
                            </div>
                            <div class="col-md-4">
                                <p class="light-text">Type</p>
                                <p class="light-text">Sonic i 700 SL</p>
                            </div>
                            <div class="col-md-4">
                                <p class="light-text">Type</p>
                                <p class="dark-text">Sonic i 700 SL</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-3 p-0">
                        <div class="price-box">
                            <div class="price-middle-box">
                                <h6>Demand</h6>
                                <h4>$ 12,000</h4> 
                                <button class="chat-btn" [routerLink]="['/chat']"> <i class="fa fa-comment"></i> Chat With Seller</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="submitted-main-row">
    <div class="row">
        <div class="col-md-1">
            <div class="image-box">
                <figure [routerLink]="['/single-car']" style="background-image: url('./assets/images/car-1.jpg');">

                </figure>
            </div>
        </div>
        <div class="col-md-10">
            <div class="offer-main">
              <div class="row">
                  <div class="col-md-12 text-right">
                      <p class="posted-time">
                          <i class="fa fa-calendar"></i> Posted 2 hrs ago
                       </p>
                  </div>
              </div>
              <div class="row">
                
                      <h6 class="car-name">
                          Tesla Model X
                      </h6>
                     
                  
                 
                      <p class="car-mod">2017</p>
                 
                 
                    <p class="view-para"><i class="fa fa-eye"></i> 2.5k</p>
         
              
                    <span class="ver-span">
                        <i class="fa fa-sield"></i>
                        <i class="fa fa-check"></i> Verified Seller
                    </span>
             
              
                 
             
              </div>
                <div class="row">
                  <p class="car-bot"><i class="fa fa-paper-plane"></i> Huaston, Taxes</p>
                </div>
                <div class="row ">
                    <div class="col-md-9">
                   
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <p class="light-text">Type</p>
                                <p class="dark-text">Sonic i 700 SL</p>
                            </div>
                            <div class="col-md-4">
                                <p class="light-text">Type</p>
                                <p class="dark-text">Sonic i 700 SL</p>
                            </div>
                            <div class="col-md-4">
                                <p class="light-text">Type</p>
                                <p class="dark-text">Sonic i 700 SL</p>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-4">
                                <p class="light-text">Type</p>
                                <p class="dark-text">Sonic i 700 SL</p>
                            </div>
                            <div class="col-md-4">
                                <p class="light-text">Type</p>
                                <p class="light-text">Sonic i 700 SL</p>
                            </div>
                            <div class="col-md-4">
                                <p class="light-text">Type</p>
                                <p class="dark-text">Sonic i 700 SL</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-3 p-0">
                        <div class="price-box">
                            <div class="price-middle-box">
                                <h6>Demand</h6>
                                <h4>$ 12,000</h4> 
                                <button class="chat-btn" [routerLink]="['/chat']"> <i class="fa fa-comment"></i> Chat With Seller</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="submitted-main-row">
  <div class="row">
      <div class="col-md-1">
          <div class="image-box">
              <figure [routerLink]="['/single-car']" style="background-image: url('./assets/images/car-1.jpg');">

              </figure>
          </div>
      </div>
      <div class="col-md-10">
          <div class="offer-main">
            <div class="row">
                <div class="col-md-12 text-right">
                    <p class="posted-time">
                        <i class="fa fa-calendar"></i> Posted 2 hrs ago
                     </p>
                </div>
            </div>
            <div class="row">
              
                    <h6 class="car-name">
                        Tesla Model X
                    </h6>
                   
                
               
                    <p class="car-mod">2017</p>
               
               
                  <p class="view-para"><i class="fa fa-eye"></i> 2.5k</p>
       
            
                  <span class="ver-span">
                      <i class="fa fa-sield"></i>
                      <i class="fa fa-check"></i> Verified Seller
                  </span>
           
            
               
           
            </div>
              <div class="row">
                <p class="car-bot"><i class="fa fa-paper-plane"></i> Huaston, Taxes</p>
              </div>
              <div class="row ">
                  <div class="col-md-9">
                 
                      <div class="row mb-3">
                          <div class="col-md-4">
                              <p class="light-text">Type</p>
                              <p class="dark-text">Sonic i 700 SL</p>
                          </div>
                          <div class="col-md-4">
                              <p class="light-text">Type</p>
                              <p class="dark-text">Sonic i 700 SL</p>
                          </div>
                          <div class="col-md-4">
                              <p class="light-text">Type</p>
                              <p class="dark-text">Sonic i 700 SL</p>
                          </div>
                      </div>

                      <div class="row mb-3">
                          <div class="col-md-4">
                              <p class="light-text">Type</p>
                              <p class="dark-text">Sonic i 700 SL</p>
                          </div>
                          <div class="col-md-4">
                              <p class="light-text">Type</p>
                              <p class="light-text">Sonic i 700 SL</p>
                          </div>
                          <div class="col-md-4">
                              <p class="light-text">Type</p>
                              <p class="dark-text">Sonic i 700 SL</p>
                          </div>
                      </div>

                  </div>
                  <div class="col-md-3 p-0">
                      <div class="price-box">
                          <div class="price-middle-box">
                              <h6>Demand</h6>
                              <h4>$ 12,000</h4> 
                              <button class="chat-btn" [routerLink]="['/chat']"> <i class="fa fa-comment"></i> Chat With Seller</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="submitted-main-row">
  <div class="row">
      <div class="col-md-1">
          <div class="image-box">
              <figure [routerLink]="['/single-car']" style="background-image: url('./assets/images/car-1.jpg');">

              </figure>
          </div>
      </div>
      <div class="col-md-10">
          <div class="offer-main">
            <div class="row">
                <div class="col-md-12 text-right">
                    <p class="posted-time">
                        <i class="fa fa-calendar"></i> Posted 2 hrs ago
                     </p>
                </div>
            </div>
            <div class="row">
              
                    <h6 class="car-name">
                        Tesla Model X
                    </h6>
                   
                
               
                    <p class="car-mod">2017</p>
               
               
                  <p class="view-para"><i class="fa fa-eye"></i> 2.5k</p>
       
            
                  <span class="ver-span">
                      <i class="fa fa-sield"></i>
                      <i class="fa fa-check"></i> Verified Seller
                  </span>
           
            
               
           
            </div>
              <div class="row">
                <p class="car-bot"><i class="fa fa-paper-plane"></i> Huaston, Taxes</p>
              </div>
              <div class="row ">
                  <div class="col-md-9">
                 
                      <div class="row mb-3">
                          <div class="col-md-4">
                              <p class="light-text">Type</p>
                              <p class="dark-text">Sonic i 700 SL</p>
                          </div>
                          <div class="col-md-4">
                              <p class="light-text">Type</p>
                              <p class="dark-text">Sonic i 700 SL</p>
                          </div>
                          <div class="col-md-4">
                              <p class="light-text">Type</p>
                              <p class="dark-text">Sonic i 700 SL</p>
                          </div>
                      </div>

                      <div class="row mb-3">
                          <div class="col-md-4">
                              <p class="light-text">Type</p>
                              <p class="dark-text">Sonic i 700 SL</p>
                          </div>
                          <div class="col-md-4">
                              <p class="light-text">Type</p>
                              <p class="light-text">Sonic i 700 SL</p>
                          </div>
                          <div class="col-md-4">
                              <p class="light-text">Type</p>
                              <p class="dark-text">Sonic i 700 SL</p>
                          </div>
                      </div>

                  </div>
                  <div class="col-md-3 p-0">
                      <div class="price-box">
                          <div class="price-middle-box">
                              <h6>Demand</h6>
                              <h4>$ 12,000</h4> 
                              <button class="chat-btn" [routerLink]="['/chat']"> <i class="fa fa-comment"></i> Chat With Seller</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

  
  </div>

  <div class="col-md-12 text-center">
      <button class="sub-btn">Show More</button>
  </div>
</div>
</div>
<app-buyer-footer></app-buyer-footer>