<app-header></app-header>
<div class="chat-main">
  <div class="chat-left">
    <h6>Chats</h6>
    <!-- <h3>You'r {{socket.connected == true ? "connected"  : "disconncted" }} to server.</h3> -->

    <ng-container  *ngFor="let g of groups;" >
      <div class="chat-item" [ngClass]="{'active':  group.groupId === g.groupId}"
        (click)="getGroupById(g.groupId)">
        <div class="row">
          <div class="col-md-8">
          <h6>{{ formatGroupName(g.members) }}</h6>
          </div>
          <div class="col-md-4">
            <p class="time-para">{{ fromNow(g.updatedDate) }}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8">
            <p class="msg-para fallback"> {{g.isTyping == true ? "typing...." : ""}} </p>
          </div>
          <div class="col-md-4">
            <!-- <p class="count-para"> <span class="count">{{ group.messages.length }}</span> </p> -->
          </div>
        </div>
      </div>
    </ng-container>
    <!-- <div class="chat-item">
      <span class="offer-sent">Offer Sent</span>
      <div class="row">
        <div class="col-md-7 col-sm-7 col-7">
         <h6>Martin K.</h6>
        </div>
        <div class="col-md-5 col-sm-5 col-5">
          <p class="time-para">2 hours ago</p>
        </div>
      </div>

      <div class="row">
       <div class="col-md-12">
         <p class="msg-para">Can  we make deal at 5000 ?</p>
       </div>
     </div>
     </div> -->



  </div>

  <div class="chat-right">


    <!-- <div class="popup-box">
        <div class="row">
          <div class="col-md-1 pr-0 col-sm-2">
            <figure [routerLink]="['/single-car']" style="background-image: url('./../../../../assets/images/car-1.jpg');">

            </figure>
          </div>
            <h6 class="car-name">Toyota Tesla</h6>
            <div class="col-md-2 col-sm-2">
              <p class="car-model">2007</p>
            </div>
           <div class="col-md-2 col-sm-3 p-0 col-sm-2">
            <h6 class="demand">Demend  $ 12,000</h6>
           </div>
            <p class="time">
              <i class="fa fa-calendar"></i>
              Posted 2 hours ago
            </p>
          <div class="col-md-3 col-sm-12  text-right">
           <h6 class="list-para" [routerLink]="['seller/seller-dashboard']"> GO TO LISTING</h6>
          </div>
        </div>
    </div> -->

    <div #scrollMe class="chat-height" id="message-list">
      <div class="chat-row" *ngFor="let msg of group?.messages">
        <ng-container *ngIf="msg.senderId != id">
          <div class="name-box">
            <p>{{groupNameInitials}}</p>
          </div>
          <div class="text-box">
            <p>
              {{msg.message}}
            </p>
            <p class="time-para">{{ fromNow(msg.sendingDateTime) }}</p>
          </div>
        </ng-container>



        <ng-container *ngIf="msg.senderId == id">
          <div class="msg-right">
            <p>
              {{msg.message}}
            </p>
            <p class="time-para">{{ fromNow(msg.sendingDateTime) }}</p>
          </div>
        </ng-container>


      </div>

    </div>

    <div class="msg-type-box">
      <input (keyup.enter)="sendMessage()" type="text" [disabled]="!this.group.groupId" class="message_form__input"
        (keyup)="onTypingNotification()" [(ngModel)]="message" placeholder="Write your message here.....">
      <!-- <i class="fa fa-paperclip"></i> -->
      <i (click)="sendMessage()" [attr.disabled]="this.message.length == 0" (keyup.enter)="sendMessage()"
        class="fa fa-paper-plane"></i>
    </div>
  </div>


</div>
