<app-seller-header></app-seller-header>
<div class="chat-main">
  <div class="chat-left">
    <h6>Chats</h6>
    <div class="chat-item">
     <div class="row">
       <div class="col-md-8">
        <h6>Martin K.</h6>
       </div>
       <div class="col-md-4">
         <p class="time-para">2 hours ago</p>
       </div>
     </div>

     <div class="row">
      <div class="col-md-8">
        <p class="msg-para">Can  we make deal at 5000 ?</p>
      </div>
      <div class="col-md-4">
        <p class="count-para"> <span class="count">4</span> </p>
      </div>
    </div>
    </div>

    <div class="chat-item active">
      <div class="row">
        <div class="col-md-8">
         <h6>Martin K.</h6>
        </div>
        <div class="col-md-4">
          <p class="time-para">2 hours ago</p>
        </div>
      </div>
 
      <div class="row">
       <div class="col-md-8">
         <p class="msg-para">Can  we make deal at 5000 ?</p>
       </div>
       <div class="col-md-4">
        
       </div>
     </div>
     </div>

     <div class="chat-item">
      <div class="row">
        <div class="col-md-8">
         <h6>Martin K.</h6>
        </div>
        <div class="col-md-4">
          <p class="time-para">2 hours ago</p>
        </div>
      </div>
 
      <div class="row">
       <div class="col-md-8">
         <p class="msg-para"><i class="fa fa-share"></i> Can  we make deal at 5000 ?</p>
       </div>
       <div class="col-md-4">

       </div>
     </div>
     </div>


     <div class="chat-item">
      <span class="offer-sent">Offer Sent</span>
      <div class="row">
        <div class="col-md-8">
         <h6>Martin K.</h6>
        </div>
        <div class="col-md-4">
          <p class="time-para">2 hours ago</p>
        </div>
      </div>
 
      <div class="row">
       <div class="col-md-8">
         <p class="msg-para">Can  we make deal at 5000 ?</p>
       </div>
       <div class="col-md-4">
         
       </div>
     </div>
     </div>



  </div>

  <div class="chat-right">


    <div class="popup-box">
        <div class="row">
          <div class="col-md-1 pr-0">
            <figure [routerLink]="['/single-car']" style="background-image: url('./../../../../assets/images/car-1.jpg');">

            </figure>
          </div>
            <h6 class="car-name">Toyota Tesla</h6>
            <div class="col-md-2">
              <p class="car-model">2007</p>
            </div>
           <div class="col-md-2 p-0">
            <h6 class="demand">Demend  $ 12,000</h6>
           </div>
            <p class="time">
              <i class="fa fa-calendar"></i>
              Posted 2 hours ago
            </p>  
          <div class="col-md-4 text-right">
           <h6 class="list-para" [routerLink]="['/seller-dashboard']"> GO TO LISTING</h6>
          </div>
        </div>
    </div>

    <div class="chat-height">
      <div class="chat-row">
        <div class="name-box">
          <p>MK</p>
        </div>
        <div class="text-box">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, reiciendis iusto aliquid molestias blanditiis sit modi vero eaque fugiat.
          </p>
          <p class="time-para">2 hours ago</p>
        </div>
      </div>
  
  
      <div class="chat-row">
        <div class="msg-right">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, reiciendis iusto aliquid molestias blanditiis sit modi vero eaque fugiat, quisquam ipsam itaque, obcaecati ducimus inventore possimus expedita sapiente autem earum.
          </p>
          <p class="time-para">2 hours ago</p>
        </div>
      </div>
  
      <div class="chat-row">
        <div class="name-box">
          <p>MK</p>
        </div>
        <div class="text-box">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, reiciendis iusto aliquid molestias blanditiis sit modi vero eaque fugiat, quisquam ipsam itaque, obcaecati ducimus inventore possimus expedita sapiente autem earum.
          </p>
          <p class="time-para">2 hours ago</p>
        </div>
      </div>

      <div class="chat-row">
        <div class="msg-right">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, reiciendis iusto aliquid molestias blanditiis sit modi vero eaque fugiat, quisquam ipsam itaque, obcaecati ducimus inventore possimus expedita sapiente autem earum.
          </p>
          <p class="time-para">2 hours ago</p>
        </div>
      </div>
      <div class="chat-row">
        <div class="name-box">
          <p>MK</p>
        </div>
        <div class="text-box">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, reiciendis iusto aliquid molestias blanditiis sit modi vero eaque fugiat, quisquam ipsam itaque, obcaecati ducimus inventore possimus expedita sapiente autem earum.
          </p>
          <p class="time-para">2 hours ago</p>
        </div>
      </div>


    </div>

    <div class="msg-type-box">
      <input type="text" placeholder="Write your message here.....">
      <i class="fa fa-paperclip"></i>
      <i class="fa fa-paper-plane"></i>
    </div>
  </div>

  
</div>