<div id="offer-pop-main">
  <div class="col-md-12">
    <!-- <button mat-button mat-dialog-close>Cancel</button> -->
    <i class="fa fa-times" (click)="onClose()"></i>
    <div class="requirment-main">
      <div class="row">
        <div class="col-md-4">
          <h6 class="title">Requirments</h6>
        </div>
      </div>

      <div class="green-row">
        <div class="row">
          <div class="col-md-2 col-sm-12 col-12">
            <div class="row">
              <div class="col-md-3 col-sm-1 col-2">
                <i class="fa fa-user"></i>
              </div>
              <div class="col-md-9 col-sm-11 col-10">
                <h6>{{requriementData.user}}</h6>
                <p> </p>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-3 col-4">
            <p>Model</p>
            <h6>{{requriementData.model}}</h6>
          </div>

          <div class="col-md-2 col-sm-3 col-4">
            <p>Fuel Type</p>
            <h6>{{requriementData.fuelType}}</h6>
          </div>

          <div class="col-md-2 col-sm-3 col-4">
            <p>Year</p>
            <h6>{{requriementData.year}}</h6>
          </div>
          <div class="col-md-2 col-sm-3 col-4">
            <p>Color</p>
            <!-- <p class="color-ball"></p> -->
            <h6>{{requriementData.color}}</h6>
          </div>

          <div class="col-md-2 col-sm-3 col-4">
            <p>Body</p>
            <h6>{{requriementData.bodyStyle}}</h6>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <h6 class="title">Select a Listing to send an offer</h6>
        </div>
      </div>

      <div class="table-box">
        <table>
          <tr>
            <th></th>
            <th>Name </th>
            <th>Posted Date</th>
            <th>Color</th>
            <!-- <th>Transmission</th> -->
            <th>Fuel</th>
            <th>Body</th>
            <th>Year</th>
            <th>Demand</th>
            <th></th>
          </tr>
          <tr *ngFor="let item of vehicleList">
            <td>

              <figure [style.background-image]="makeTrustedImage(item.images[0]?.imageUrl)" alt="" width="60">
              </figure>

            </td>
            <td>
              {{item.model}}
            </td>
            <td>
              {{item.createdDate | date}}
            </td>
            <td>
              {{item.color}}
            </td>
            <!-- <td>
              toyota
            </td> -->
            <td>
              {{item.fuel}}
            </td>
            <td>
              {{item.bodyStyle}}
            </td>
            <td>
              {{item.year}}
            </td>
            <td>
              <span> {{item.price}}</span>
            </td>
            <td>
              <button class="button-primary" (click)="sendOffer(item._id)">Send Offer</button>
            </td>
          </tr>


        </table>
      </div>


    </div>

  </div>
</div>
<p-toast></p-toast>
