<div id="offer-pop-main">
  <div class="col-md-12">
    <!-- <button mat-button mat-dialog-close>Cancel</button> -->
    <i class="fa fa-times" (click)="onClose()"></i>
  <div class="requirment-main">
    <div class="row">
      <div class="col-md-4">
        <h6 class="title">Requirments</h6>
      </div>
    </div>
    
    <div class="green-row">
      <div class="row">
        <div class="col-md-3">
          <div class="row">
          <div class="col-md-2">
            <i class="fa fa-user"></i>
          </div>
          <div class="col-md-10">
            <h6>Sam Johns</h6>
            <p>Auoro Canada</p>
          </div>
          </div>
        </div>
        <div class="col-md-1">
          <p>Fuel Type</p>
          <h6>Electric</h6>
        </div>
    
        <div class="col-md-1">
          <p>Fuel Type</p>
          <h6>Electric</h6>
        </div>
    
        <div class="col-md-1">
          <p>Fuel Type</p>
          <h6>Electric</h6>
        </div>
        <div class="col-md-1">
          <p class="color-ball"></p>
        </div>
    
        <div class="col-md-1">
          <p>Fuel Type</p>
          <h6>Electric</h6>
        </div>
    
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-4">
        <h6 class="title">Select A Listning to send offer</h6>
      </div>
    </div>
  
    <div class="table-box">
      <table>
        <tr>
          <th></th>
          <th>Name </th>
          <th>NPosted Date</th>
          <th>Type</th>
          <th>Transmission</th>
          <th>Fuel</th>
          <th>Body</th>
          <th>Year</th>
          <th>Demand</th>
          <th></th>
        </tr>
        <tr>
          <td>
            <!-- <figure style="background-image: url('./../../../../../assets/images/car-1.jpg')">
  
            </figure> -->
            <img src="./../../../../../assets/images/car-1.jpg" alt="" width="60">
          </td>
          <td>
            toyota
          </td>
          <td>
            toyota
          </td>
          <td>
            toyota
          </td>
          <td>
            toyota
          </td>
          <td>
            toyota
          </td>
          <td>
            toyota
          </td>
          <td>
            toyota
          </td>
          <td>
           <span> 12122</span>
          </td>
          <td>
            <button class="button-primary">Send Offer</button>
          </td>
        </tr>

        <tr>
          <td>
            <!-- <figure style="background-image: url('./../../../../../assets/images/car-1.jpg')">
  
            </figure> -->
            <img src="./../../../../../assets/images/car-1.jpg" alt="" width="60">
          </td>
          <td>
            toyota
          </td>
          <td>
            toyota
          </td>
          <td>
            toyota
          </td>
          <td>
            toyota
          </td>
          <td>
            toyota
          </td>
          <td>
            toyota
          </td>
          <td>
            toyota
          </td>
          <td>
           <span> 12122</span>
          </td>
          <td>
            <button class="button-primary">Send Offer</button>
          </td>
        </tr>



        <tr>
          <td>
            <!-- <figure style="background-image: url('./../../../../../assets/images/car-1.jpg')">
  
            </figure> -->
            <img src="./../../../../../assets/images/car-1.jpg" alt="" width="60">
          </td>
          <td>
            toyota
          </td>
          <td>
            toyota
          </td>
          <td>
            toyota
          </td>
          <td>
            toyota
          </td>
          <td>
            toyota
          </td>
          <td>
            toyota
          </td>
          <td>
            toyota
          </td>
          <td>
           <span> 12122</span>
          </td>
          <td>
            <button class="button-primary">Send Offer</button>
          </td>
        </tr>
      </table>
    </div>
  
  
  </div>
  
  </div>
</div>