header {
    padding   : 22px 0px;
    position  : relative;
    width     : 100%;
    background: #e8eeef;
    z-index   : 1;

    img {
        width: 105px;

        &:hover {
            cursor: pointer;
        }
    }

    nav {
        ul {
            list-style-type: none;
            text-align     : right;
            margin         : 0;

            li {
                display : inline;
                padding : 0px 9px;
                position: relative;

                @media only screen and (max-width: 1199px) {
                    padding: 0px 6px;
                }

                a {
                    font-size  : 13px;
                    color      : #00000082;
                    font-weight: 600;
                    font-family: "Lato", sans-serif;
                    position   : relative;
                    z-index    : 1;

                    &:hover {
                        cursor: pointer;
                    }
                }

                button {
                    background   : transparent;
                    padding      : 8px 26px;
                    border-radius: 5px;
                    font-size    : 14px;
                    font-weight  : bold;
                    border       : 1px solid #000;
                    color        : black;
                    font-weight: 600;
                    font-family  : 'Lato', sans-serif;
                }

                .user-btn {
                    background    : #d8d8d8;
                    border        : 1px solid transparent;
                    padding       : 0px 0px;
                    padding-left  : 8px;
                    padding-bottom: 6px;
                    padding-top   : 6px;
                    padding-right : 9px;

                    .fa-user {
                        height       : 25px;
                        width        : 25px;
                        border       : 1px solid;
                        border-radius: 50%;
                        text-align   : center;
                        padding-top  : 3px;
                        font-size    : 16px;
                        background   : black;
                        color        : white;
                    }

                    h6 {
                        font-size    : 12px;
                        font-weight  : 700;
                        margin       : 0;
                        margin-bottom: 4px;
                        text-align   : center;
                        white-space  : nowrap;
                        overflow     : hidden;
                        text-overflow: ellipsis;
                        line-height  : 1;
                    }

                    span {
                        background   : black;
                        color        : white;
                        font-size    : 8px;
                        border-radius: 9px;
                        padding      : 0px 5px;
                        margin-top   : -4px;
                        display      : block;
                        line-height  : 1.6;
                    }
                }

                .chat-btn {
                    .fa-comments {
                        margin-right: 5px;
                    }

                    padding      : 7px 21px;
                    border-radius: 5px;
                    font-size    : 14px;
                    font-weight  : bold;
                    border       : 1px solid #000;
                    color        : black;
                    font-family  : "Lato",
                    sans-serif;
                    font-weight: 600;
                    text-align : center;
                    @media only screen and (max-width: 1024px) {
                       padding: 7px 10px;
                    }
                }

                &:hover {
                    cursor: pointer;
                }

                .sub-menu {
                    display      : block;
                    width        : 96%;
                    right        : -1px;
                    position     : absolute;
                    background   : white;
                    top          : 46px;
                    z-index      : 9;
                    border-radius: 5px;
                    text-align   : center;
                    box-shadow   : 0px 0px 13px 2px #00000047;
                    transition   : 0.5s;

                    li {
                        display      : block;
                        width        : 100%;
                        border-bottom: 1px solid rgb(185, 185, 185);
                        padding      : 9px 0;
                        font-family  : 'Lato', sans-serif;
                        transition   : 0.5s;
                        cursor       : pointer !important;
                        cursor       : pointer !important;

                        &:hover {
                            cursor    : pointer !important;
                            background: #2c676f;
                            color     : white;
                            transition: 0.5s;

                        }
                    }

                    .last {
                        border-bottom: none;
                    }

                    &::before {
                        content   : "";
                        position  : absolute;
                        width     : 20px;
                        height    : 20px;
                        background: white;
                        transform : rotate(45deg);
                        right     : 14px;
                        top       : -6px;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 991px) {
        display: none;
    }
}
.mat-menu-item{
  width: 100%;
  border-bottom: 1px solid rgb(185, 185, 185);
}
.mat-menu-item:hover{
  cursor    : pointer !important;
  background: #2c676f;
  color     : white;
  transition: 0.5s;
}

.last {
  border-bottom: none;
}


// mobile nav

.mobile-header {
    display      : none;
    background   : #e8eeef;
    padding      : 12px 10px;
    border-bottom: 1px solid #2c676f14;

    img {
        width: 119px;
    }

    .mob-close {
        margin        : 0;
        border-bottom : 1px solid white;
        padding-bottom: 9px;
        text-align    : left;

        i {
            color       : white;
            padding-left: 14px;
            padding-top : 9px;
            font-size   : 20px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .mobile-wrapper {
        width     : 100%;
        margin    : 0 auto;
        text-align: center;

        .mobile {
            position: relative;
        }

        .mobile .header {
            color  : #fff;
            padding: 10px;
        }

        .line {
            width           : 29px;
            height          : 3px;
            background-color: #2c676f;
            margin          : 5px 0;
        }

        .menu-toggle {
            width  : 11%;
            display: table;
            float  : right;
        }

        .menu-toggle:hover {
            cursor: pointer;
        }

        .mobile-nav ul {
            padding        : 0;
            margin         : 0;
            list-style-type: none;
        }


        .mobile-one .mobile-nav {
            background-color: #30676f;
            width           : 100%;
            /* height       : 100%; */
            transform       : translate(164%, 31px);
            transition      : all 0.2s ease-in-out;
            position        : fixed;
            width           : 620px;
            height          : calc(100vh - -47px);
            z-index         : 999;
            top             : -31px;
        }

        .mobile-nav img {
            padding: 25px 20px;
            width  : 200px;
        }

        .mobile-one .mobile-nav li {
            transition   : 0.5s;
            border-bottom: 1px solid white;
            text-align   : left;
        }

        .mobile-one .mobile-nav li details {
            padding  : 15px 18px;
            color    : white;
            font-size: 14px;
        }

        .mobile-one .mobile-nav li a {
            color      : white;
            display    : block;
            padding    : 15px 20px;
            text-align : left;
            border-left: 3px solid transparent;
        }

        .mobile-one .mobile-nav li a:hover {
            background-color: white;
            color           : #30676f;
            border-left     : 3px solid #30676f;
            cursor          : pointer;
            transition      : 0.5s;
            text-decoration : none;
        }

    }

    @media only screen and (max-width: 991px) {
        display: block;
    }
}

.selectionBg {
    position  : relative !important;
    background: #E8EEEF !important;
}

.buyerHomeHeaderBG {
    background: transparent !important;
    position  : absolute !important;
}

.sellerHomeHeaderBG {
    background: #ffffff63 !important;
    position  : absolute !important;
}

.moreFilterBG {
    padding   : 22px 0px;
    position  : relative;
    width     : 100%;
    background: #eff0f2;
    z-index   : 1;
    box-shadow: 2px 2px 2px 2px #0000000a
}

.status-btn {
    border: 0 !important;
    color : #2d626a !important;
}

.registrationBG {
    position  : relative !important;
    background: #30676f !important;
}

.change-link-fc {
    color      : white !important;
    font-weight: 400 !important;

    &:hover {
        text-decoration: none !important;
    }
}

.btn-color-rg {
    color : #fff !important;
    border: 1px solid #fff !important;
}
.sign-btn-hide{
    display: none !important;
}
