<header>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <img src="./assets/images/logo.png" alt="" style="width: 125px;
                margin-top: 16px;">
            </div>
        </div>
    </div>
</header>

<div class="sub-main">
    <div id="d-wrapper">
        <div class="zig-zag-bottom">
            <div class="form-head">
                <div class="col-md-12">
                    <div class="con-head">
                            <div class="row">
                                <div class="col-md-10">
                                    <h4>Subscription Informaton</h4>
                                </div>
                                <div class="col-md-2 text-right">
                                    <i class="fa fa-times" (click)="onClose()"></i>
                                </div>
                        </div>
                    </div>
                    <div class="con-head-bot">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-8 pd-tb">
                                    <div class="package">
                                        <h5>Package 2</h5>
                                        <p>20 Listings</p>
                                    </div>
                                </div>
                                <div class="col-lg-4 pd-tb">
                                    <div class="head-price">
                                        <p class="price">$79.00</p>
                                    </div>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    <div class="selection-main">
        <!-- <div class="container">
            <div class="row">
              <div class="col-md-2">
              <a href=""  >   <img src="./../../../assets/images/green-logo.png" alt="" width="100"></a>
              </div>
          
            </div>
          </div> -->
      <div class="form-main">
      
          <div class="payment-detail">
              <div class="payment-title">
                  <h4>Payment Detail</h4>
              </div>
                  <form action="">
                      <div class="row">
                          <div class="col-lg-12">
                              <label for="">Name on Card</label>
                              <input type="text" placeholder="Name">
                          </div>
                          <div class="col-lg-12">
                              <label for="">Name on Card</label>
                              <input type="text" placeholder="--- --- ---">
                          </div>
                          <div class="col-lg-6">
                              <label for="">CVC</label>
                              <input type="text" placeholder="xxx">
                          </div>
                          <div class="col-lg-6">
                              <label for="">Expiration Date</label>
                              <input type="date">
                          </div>
                      </div>
                      <div class="col-lg-12">
                          <div class="frm-button">
                              <button>Pay Now ($ 79.00)</button>
                          </div>
                      </div>
                  </form>
          </div>
      </div>
    </div>
</div>