.delete-dailogue-main{
    .dailogue-header{
        background-color: #2c676f;
        padding: 7px 0px;
        h2{
            font-family  : 'Lato', sans-serif !important;
            color: white;
            margin: 0;
        }
        i{
            color: white;
            margin-top: 8px;
        }
    }
    .sub-title{
        margin: 25px 0px;
    }
    .action-btn{
    padding-bottom: 20px;

    }
}