<footer>
  <div class="container">
      <div class="row">
          <div class="col-lg-6 col-md-6">
              <div class="footer-logo">
                  <img src="./assets/images/logo.png" alt="" width="100">
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt odit animi alias dolorum ullam, earum et tempore rerum consequatur nulla commodi nemo eum magnam explicabo at.</p>
              </div>
          </div>

          <div class="col-lg-3 col-md-3">
              <div class="footer-get">
                  <h4>Get To Know Us</h4>
                  <ul>
                      <li><a href="">About Us</a></li>
                      <li><a href="">Careers</a></li>
                      <li><a href="">Investors</a></li>
                      <li><a href="">Blog</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-3 col-md-3">
              <div class="footer-get">
                  <h4>Doing Business</h4>
                  <ul>
                      <li><a href="">Become a     Seller</a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</footer>

<section class="motor-box">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-md-6">
              <div class="motor-box">
                  <p>2021 MotorBox</p>
              </div>
          </div>
          <div class="col-lg-2 col-md-3">
              <div class="motor-box">
                  <p>Privacy Policy</p>
              </div>
          </div>
          <div class="col-lg-2 col-md-3">
              <div class="motor-box">
                  <p>Terms & Condition</p>
              </div>
          </div>
      </div>
  </div>
</section>