<app-dark-header></app-dark-header>
<section class="main_innner_banner" style="position: relative;">
	<div class="hero-sec">
	    <img src="./assets/images/banner-2.jpg" alt="Banner Image">
	    <div class="container">
			<div class="banner_content">
				<h1>Contact</h1>
				<span><a href="index.html">Home</a> <i class="fa fa-angle-right"></i> Contact</span>
			</div>
	    </div>
	</div>
</section>
<!-- Main Slider End -->
<!-- Contact Info  Start -->

<section class="main_contact_info">
	<div class="sec-padding">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-6">
					<div class="info_box">
						<i class="fa fa-envelope"></i>
						<h6>E-mail</h6>
						<a href="#">abs@gmail.com</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6">
					<div class="info_box">
						<i class="fa fa-phone"></i>
						<h6>Phone</h6>
						<a href="#">+97144305894</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12">
					<div class="info_box">
						<i class="fa fa-map-marker"></i>
						<h6>Address</h6>
						<a href="#">Dummy</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Contact Info  End -->
<!-- Contact Form Start -->
<section class="main_form_sec">
	<div class="row no-gutters">
		<div class="col-lg-5 col-md-5 col-sm-12">
			<div class="map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48575.28246477009!2d55.262014077907885!3d25.19042239063583!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f43496ad9c645%3A0xbde66e5084295162!2sDubai%20-%20United%20Arab%20Emirates!5e0!3m2!1sen!2s!4v1619593329904!5m2!1sen!2s" style="border:0; width: 100%; height: 480px; display: block;" allowfullscreen="" loading="lazy"></iframe>
			</div>
		</div>
		<div class="col-lg-7 col-md-7 col-sm-12">
			<form>
				<h4>Request A Quote</h4>
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6">
						<input type="text" name="" placeholder="Your Name">
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6">
						<input type="email" name="" placeholder="Your e-mail">
					</div>
					<div class="col-md-12">
						<input type="text" name="" placeholder="Subject">
					</div>
					<div class="col-md-12">
						<textarea>Message</textarea>
					</div>
					<div class="col-md-12">
						<input type="submit" value="Submit">
					</div>
				</div>
			</form>
		</div>
	</div>
</section>
<!-- Contact Form End -->
<!-- Footer Start -->

<app-footer></app-footer>