// Inner Banner Start

.main_innner_banner {
    .hero-sec {
        img {
            width: 100%;
        }
      .banner_content {
        top: 57%;
        left: 100px;
        position: absolute;
        width: calc(100% - 100px);
        transform: translatey(-50%);
        h1 {
          font-size: 54px;
          font-weight: 800;
              color: #c9e265;
          text-transform: uppercase;
        }
        span {
            font-size: 14px;
            font-weight: 600;
                color: #c9e265;
          text-transform: uppercase;
            a {
                text-decoration: none;
                    color: #c9e265;
                &:hover {
                  background: #30676f;
                }
            }
        }
      }
    }
  }



  .main_contact_info {
	.info_box {
		text-align: center;
		i {
		    width: 80px;
		    color: white;
	        height: 80px;
		    font-size: 30px;
		    transition: 0.4s;
		    line-height: 70px;
		    border-radius: 50%;
		    margin-bottom: 20px;
		    border: 6px solid white;
		    background: #30676f;
		}
		h6 {
		    font-size: 20px;
		    font-weight: 600;
		    padding-bottom: 0;
		    color: #30676f;
		}
		a {
			color: #8c8c8c;
			font-size: 16px;
			text-decoration: none;
		}
		&:hover {
			i {
				background-color: #c9e265;
				border: 6px solid white;
				box-shadow: 0px 7px 20px 4px rgba(54,54,54,0.3);
			}
		}
	}
}

// Contact Page End




form{
    height: 100%;
    display: flex;
    padding: 20px 60px;
    flex-direction: column;
    justify-content: center;
    background-color: #f4f4f4;
    h4 {
        font-weight: 600;
        margin-bottom: 20px;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
  input, select, textarea{
    width: 100%;
    padding: 10px;
    color: #939393;
    font-size: 13px;
    box-shadow: none;
    border-radius: 0;
    border: 1px solid #e2e2e2;
    font-family: "Poppins", sans-serif;
  }
 
input[type=text], input[type=number], input[type=email], select, textarea{
    background-color: white;
    width: 100%;
    margin-bottom: 12px;
    max-height: 100px;
  }

input[type=submit]{
    background: #30676f;;
    padding: 10px;
    display: inline-block;
    text-align: center;
    position: relative;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    margin-top: 10px;
    min-width: 70px;
    border: none;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border-radius: 0;
    width: 25%;
    &:hover{
        background: yellowgreen;
    }
}
  textarea {
    height: 140px;
    max-height: 140px;
  }
}

::placeholder {
    color: #939393;
}

.sec-padding {
  padding: 80px 0;
}