<div class="forget-bg">
  <img src="./assets/images/logo.png" alt="" [routerLink]="['/home']" class="top-logo">
  <div class="login-page">
    <h5>Reset Password!</h5>
    <form name="resetForm" [formGroup]="resetForm" novalidate id="form-login">
      <div class="form">
        <div class="login-form">
          <div class="row">
            <div class="col-md-12">
              <p> New Password</p>
              <input [type]="hidePass ? 'password' : 'text'" id="password" formControlName="password"
                placeholder="new password" required (change)="checkPasswordRegex()">
              <img [src]="iconPass" (click)="ShowPassword()" width="20" class="eye-image-password">

              <p class="custom-error"
                *ngIf="resetForm.get('password').hasError('required') && (resetForm.get('password').touched || isError)">
                New Password is required.
              </p>

              <p class="custom-error" *ngIf="RegexMatchError">
                Password should be combination of one uppercase , one lower case, one special char, one digit
                and min 8
              </p>

            </div>
            <div class="col-md-12">
              <p> Confirm Password</p>
              <input [type]="hideConfirmPass ? 'password' : 'text'" id="confirmPassword" required
                formControlName="confirmPassword" placeholder="confirm password" (ngModelChange)="onPasswordChange()">
              <img [src]="iconConfirmPass" (click)="ShowConfirmPassword()" width="20" class="eye-image-password">

              <p class="custom-error"
                *ngIf="resetForm.get('confirmPassword').hasError('required') && (resetForm.get('confirmPassword').touched || isError )">
                Confirm Password is required.
              </p>
              <p class="custom-error" *ngIf="mismatchError">
                Password not matched.
              </p>
            </div>
          </div>
          <button
            [disabled]="resetForm.get('password').value === '' && resetForm.get('confirmPassword').hasError('mismatch')"
            (click)="reset()">Submit</button>
        </div>
      </div>
    </form>

  </div>
</div>
