<div class="forget-bg">
    <img src="./assets/images/logo.png" alt="" [routerLink]="['/home']" class="top-logo">
    <div class="login-page">
      <h5>Reset Password!</h5>
      <form name="loginForm" [formGroup]="myForm" novalidate id="form-login">
        <div class="form">
          <div class="login-form">
            <label>New Password </label>
            <input type="password" formControlName="password" placeholder="password" (change)="onPasswordChange()"/>
            <label>Confirm Password </label>
            <input type="password" placeholder="confirm password" formControlName="confirmPassword" (change)="onPasswordChange()" />
            <p class="custom-error" *ngIf="confirm_password.hasError('mismatch')">
              Password do not match.
              </p>
            <button [disabled]="password.value == '' && confirm_password.hasError('mismatch')" (click)="reset()">Submit</button>
          </div>
        </div>
      </form>

    </div>
  </div>
