<div class="advance-filter-main">
  <i mat-button mat-dialog-close class="fa fa-times"></i>
  <h6 class="title">Search</h6>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row mb-2">
          <div class="col-md-12">
            <p>General Specification</p>
          </div>
          <div class="col-md-6">
            <select name="" id="" class="sm-mar-bot">
              <option value="">Make</option>
            </select>
          </div>
          <div class="col-md-6">
            <select name="" id="">
              <option value="">Model</option>
            </select>
          </div>


        </div>
        <div class="row mb-2">
          <div class="col-md-6">
            <input type="text" placeholder="Max Price" class="sm-mar-bot">
          </div>
          <div class="col-md-6">
            <input type="text" placeholder="Max Price">
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <p class="year-title">Year</p>
        <div class="rangeslider">
          <input class="min" name="range_1" type="range" min="1" max="100" value="10" />
          <input class="max" name="range_1" type="range" min="1" max="100" value="90" />
          <span class="range_min light left">2002</span>
          <span class="range_max light right">2014</span>
        </div>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-md-12">
        <p class="sm-marg-top">Body Condition</p>
      </div>
      <div class="col-md-4">
        <input type="text" placeholder="Color" class="sm-mar-bot">
      </div>
      <div class="col-md-4">
        <input type="text" placeholder="Gear Box" class="sm-mar-bot">
      </div>
      <div class="col-md-4">
        <input type="text" placeholder="Weight" >
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-md-4">
        <input type="text" placeholder="Engine number" class="sm-mar-bot">
      </div>
      <div class="col-md-4">
        <input type="text" placeholder="Forward gears" class="sm-mar-bot">
      </div>
      <div class="col-md-4">
        <input type="text" placeholder="Gearbox type" class="sm-mar-bot">
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-md-4">
        <div class="inner-title">
          <p class="mt-0">Export</p>
          <div class="row">
            <div class="col-md-6">
              <input type="radio"> Yes
            </div>

            <div class="col-md-6">
              <input type="radio"> No
            </div>

          </div>
        </div>
      </div>

      <div class="col-md-4">
        <input type="text" placeholder="Door plan" class="sm-mar-bot">
      </div>

      <div class="col-md-4">
        <input type="text" placeholder="Seating capacity">
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-md-12">
        <p>General Specification</p>
      </div>
      <div class="col-md-4">
        <input type="text" placeholder="Kerb weight" class="sm-mar-bot">
      </div>
      <div class="col-md-4">
        <input type="text" placeholder="Gear Box" class="sm-mar-bot">
      </div>
      <div class="col-md-4">
        <input type="text" placeholder="Weight" >
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-md-4">
        <input type="text" placeholder="Exported" class="sm-mar-bot">
      </div>
      <div class="col-md-4">
        <input type="text" placeholder="Imported">
      </div>

    </div>

    <div class="row mb-2">
      <div class="col-md-12">
        <p>Assessories</p>
      </div>
      <div class="col-md-4">
        <input type="text" placeholder="Engine size" class="sm-mar-bot">
      </div>
      <div class="col-md-4">
        <input type="text" placeholder="No of doors">
      </div>

    </div>

    <div class="row mb-2">
      <div class="col-md-4">
        <input type="text" placeholder="Drive type" class="sm-mar-bot">
      </div>
      <div class="col-md-4">
        <input type="text" placeholder="Model start">
      </div>

    </div>

    <div class="row mb-2">
      <div class="col-md-12">
        <p>General Specification</p>
      </div>
      <div class="col-md-4">
        <input type="text" placeholder="Color" class="sm-mar-bot">
      </div>
      <div class="col-md-4">
        <input type="text" placeholder="Gear Box">
      </div>

    </div>

    <div class="row mb-2">
      <div class="col-md-4">
        <input type="text" placeholder="No of Gears" class="sm-mar-bot">
      </div>
      <div class="col-md-4">
        <input type="text" placeholder="Fuel">
      </div>

    </div>

    <div class="row mt-5">
      <div class="col-md-6">
        <input type="checkbox" class="mr-2">Manufacture Approved
      </div>
      <div class="col-md-6">
        <input type="checkbox" class="mr-2">Recommended Dealer
      </div>


    </div>
    <div class="col-md-12 text-center  mt-5">
      <button class="button-primary pr-5 pl-5 search-btn">Search</button>
    </div>
  </div>
</div>