<section class="main_innner_banner" style="position: relative;">
	<div class="hero-sec">
	    <img src="./assets/images/banner-2.jpg" alt="Banner Image">
	    <div class="container">
			<div class="banner_content">
				<h1>About Us</h1>
				<span><a href="index.html">Home</a> <i class="fa fa-angle-right"></i> About Us</span>
			</div>
	    </div>
	</div>
</section>


<!-- About Sec Start -->

<section class="main_about_sec">
	<div class="container">
		<div class="sec-padding">
      <div class="row">			<div class="col-md-5">
				<figure class="about_img" style="background-image: url(./assets/images/about-sec.jpg);"></figure>
			</div>
			<div class="col-md-7">
				<div class="about_ctn">
					<h4>About us</h4>
					<h6>We are worldwide</h6>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
						molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
						numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
						optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
						obcaecati tenetur iure eius earum ut molestias..</p>
					<a  class="right_btn" [routerLink]="['/contact-us']">Contact Us</a>
				</div>
			</div></div>
		</div>
	</div>
</section>

<!-- About Sec End -->
