<app-transparent-header></app-transparent-header>

<div class="single-car-main">
  <!-- Model car Section start -->
<section class="model_sec">
	<div class="container-fluid">
		<a [routerLink]="['/chat']" class="btn_back"><i class="fa fa-chevron-left"></i>Back to Search</a>
		<div class="row">
			<div class="col-lg-5 col-md-12 col-sm-12 col-12">
				<!-- <div class="previewsec">					
					<div class="carimgpreview">
						<img src="./../../../../assets/images/car-1.jpg" alt="">
					</div>
					<div class="thumbnailimg">
						<img src="./../../../../assets/images/car-1.jpg" alt="">
						<img src="./../../../../assets/images/car-1.jpg" alt="">
						<img src="./../../../../assets/images/car-1.jpg" alt="">
						<img src="./../../../../assets/images/car-1.jpg" alt="">
					</div>
				</div> -->


				<section id="detail">
					<div class="container">
					  <div class="row">
						<div class="col-md-12">
					 <!-- Product Images & Alternates -->
							<div class="product-images demo-gallery">
							  <!-- Begin Product Images Slider -->
							  <div class="main-img-slider">
								 <a data-fancybox="gallery" href="./../../../../assets/images/car-1.jpg"><img src="./../../../../assets/images/car-1.jpg" class="img-fluid"></a>
								 <a data-fancybox="gallery" href="./../../../../assets/images/car-2.jpg"><img src="./../../../../assets/images/car-2.jpg" class="img-fluid"></a>
								 <a data-fancybox="gallery" href="./../../../../assets/images/car-3.jpg"><img src="./../../../../assets/images/car-3.jpg" class="img-fluid"></a>
								 <a data-fancybox="gallery" href="./../../../../assets/images/car-4.jpg"><img src="./../../../../assets/images/car-4.jpg" class="img-fluid"></a>
								 <a data-fancybox="gallery" href="./../../../../assets/images/car-5.jpg"><img src="./../../../../assets/images/car-5.jpg" class="img-fluid"></a>
								 <a data-fancybox="gallery" href="./../../../../assets/images/car-6.jpg"><img src="./../../../../assets/images/car-6.jpg" class="img-fluid"></a>
								</div>
							<!-- End Product Images Slider -->
						  
							<!-- Begin product thumb nav -->
							<ul class="thumb-nav" id="sec">
							  <li><img src="./../../../../assets/images/car-1.jpg" class="bot-image"></li>
							  <li><img src="./../../../../assets/images/car-2.jpg" class="bot-image"></li>
							  <li><img src="./../../../../assets/images/car-3.jpg" class="bot-image"></li>
							  <li><img src="./../../../../assets/images/car-4.jpg" class="bot-image"></li>
							  <li><img src="./../../../../assets/images/car-5.jpg" class="bot-image"></li>
							  <li><img src="./../../../../assets/images/car-6.jpg" class="bot-image"></li>
							  <li><img src="./../../../../assets/images/car-1.jpg" class="bot-image"></li>
							</ul>
							<!-- End product thumb nav -->
						  </div>
						  <!-- End Product Images & Alternates -->
						  
						</div>
					  </div>
					</div>
				  </section>

			</div>
			<div class="col-lg-7 col-md-12 col-sm-12 col-12">
				<div class="detailcar">
					<h2 class="title">Tesla Model X</h2>
					<ul>
						<li>1300 cc</li>
						<li>2017</li>
						<li>Petrol</li>
					</ul>
				</div>
				<div class="detailcardec">
					<div class="row">					
						<div class="col-lg-4 col-md-4 col-6">
							<div class="cardetail">
								<h6>Type</h6>
								<span>SONIC I 700 SL</span>
							</div>
							<div class="cardetail">
								<h6>Color</h6>
								<span>White</span>
							</div>
							<div class="cardetail">
								<h6>Body</h6>
								<span>Camper</span>
							</div>
							<div class="cardetail adddetail">
								<h2>Additional Details</h2>
								
							</div>
						</div>
						<div class="col-lg-8 col-md-8 col-8">
							<div class="cardetail">
								<h6>Transmission</h6>
								<span>Manual</span>
							</div>
							<div class="cardetail">
								<h6>Fuel</h6>
								<span>Petrol</span>
							</div>
							<div class="cardetail">
								<h6>Mileage</h6>
								<span>175000 km</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


	</div>
</section>
<!-- Model Car Section Close -->

<!-- Additional Detail Section Start -->
<section class="additionaldetail_sec">
	<div class="container-fluid">
		<div class="chatbox">
			<div class="row">
				<div class="col-lg-2 col-md-2 col-sm-2 col-2 ">
					<h2 class="title">Tesla Model X</h2>
				</div>
				<div class="col-lg-7 col-md-7 col-sm-7 col-7">
					<div class="user">
						<h3>John David <span><i class="fa fa-check-circle"></i>Verified</span></h3>
						<p><i class="fa fa-location-arrow"></i>Houston, Texas</p>
					</div>
				</div>

				<div class="col-lg-3 col-md-3 col-sm-3 col-3">
					<div class="chatoption">
						<button [routerLink]="['/chat']"><i class="fa fa-comment-alt"></i>Chat With Seller</button>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-7 offset-5">
				<div class="desc">
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Dolorem voluptas a sapiente laboriosam, fugit, recusandae voluptatem <br> distinctio placeat ipsam nulla commodi necessitatibus dignissimos sequi</p>
				<div class="user">
					<h2>Seller Details</h2>
					<h3>John David <span><i class="fa fa-check-circle"></i>Verified</span></h3>
					<p><i class="fa fa-location-arrow"></i>Houston, Texas</p>
				</div>

				<div class="businessdetail">
					<h2>Business Detail</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit magni <br>
						 quo cumque saepe!   Iusto nostrum esse aspernatur error quaerat, ducimus, <br>
						  vel ratione, non cupiditate excepturi voluptatum ea aut magni soluta!</p>
				</div>
			</div>

			</div>
		</div>
	</div>
</section>
<!-- AdditionAL Detail Section Close -->
</div>
<app-main-footer></app-main-footer>