
<div class="single-car-main">
  <!-- Model car Section start -->
  <section class="model_sec" *ngIf="data">
    <div class="container-fluid">
      <a [routerLink]="['/chat']" class="btn_back"><i class="fa fa-chevron-left"></i>Back to Search</a>
      <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-12 col-12 mt-3">



          <section id="detail">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <!-- Product Images & Alternates -->
                  <div class="product-images demo-gallery">
                    <!-- Begin Product Images Slider -->


                    <p-galleria [(value)]="data.vehicle.images" [responsiveOptions]="responsiveOptions"
                    [containerStyle]="{'max-width': '640px'}" [numVisible]="5" [circular]="true"
                    [showItemNavigators]="true">
                    <ng-template pTemplate="item" let-item>
                      <!-- <img [src]="item" style="width: 100%; display: block;" /> -->
                      <figure [ngStyle]="{'background-image': 'url(' + item.imageUrl + ')'}" class="main-image"></figure>
                    </ng-template>
                    <ng-template pTemplate="thumbnail" let-item>
                      <div class="p-grid p-nogutter p-justify-center">
                        <img [src]="item.imageUrl" class="thumbnail-image" />
                          <!-- <img [src]="item" class="bot-image"> -->

                      </div>
                    </ng-template>
                  </p-galleria>
                  </div>



                </div>
              </div>
            </div>
          </section>

        </div>
        <div class="col-lg-7 col-md-7 col-sm-12 col-12">
          <div class="detailcar">
            <h2 class="title">{{data.vehicle.make +' Model '+  data.vehicle.model}}</h2>
            <ul>
              <li>{{data.vehicle.mileage}} cc</li>
              <li>{{data.vehicle.year}}</li>
              <li>{{data.vehicle.fuel}}</li>
            </ul>
          </div>

          <div class="detailcardec">
            <div class="row">
              <div class="col-md-6 col-sm-6 col-6">
                <div class="cardetail">
                  <h6>Engine Number</h6>
                  <span>{{data.vehicle.engineNumber}}</span>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-6">
                <div class="cardetail">
                  <h6>Stroke</h6>
                  <span>{{data.vehicle.stroke}}</span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 col-sm-6 col-6">
                <div class="cardetail">
                  <h6>Color</h6>
                  <span>{{data.vehicle.color}}</span>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-6">
                <div class="cardetail">
                  <h6>Fuel</h6>
                  <span>{{data.vehicle.fuel}}</span>
                </div>
              </div>
            </div>



            <div class="row">
              <div class="col-md-6 col-sm-6 col-6">
                <div class="cardetail">
                  <h6>Body</h6>
                  <span>{{data.vehicle.bodyStyle}}</span>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-6">
                <div class="cardetail">
                  <h6>Mileage</h6>
                  <span>{{data.vehicle.mileage}} km</span>
                </div>
              </div>
            </div>


          </div>

          <div class="detailcardec">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-12 col-12">
               

              
                <div class="cardetail adddetail">
                  <h2>Additional Details</h2>

                </div>
              </div>
         
            </div>
          </div>
        </div>
      </div>


    </div>
  </section>
  <!-- Model Car Section Close -->

  <!-- Additional Detail Section Start -->
  <section class="additionaldetail_sec" *ngIf="data">
    <div class="container-fluid">
      <div class="chatbox">
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-2 col-12 ">
            <h2 class="title">{{data.vehicle.make +' Model '+  data.vehicle.model}}</h2>
          </div>
          <div class="col-lg-7 col-md-7 col-sm-6 col-12">
            <div class="user">
              <h3>{{data.sellerInfo.fullName}} <span *ngIf="data.sellerInfo.recomendedSeller;else verified"><i class="fa fa-check-circle"></i>Verified</span>
              <ng-template #verified>
                <span style="background-color: #c9e165;"><i class="fa fa-circle"></i>UnVerified</span>

              </ng-template>
              </h3>
              <p><i class="fa fa-location-arrow"></i>Houston, Texas</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-3 col-sm-4 col-12">
            <div class="chatoption">
              <button [routerLink]="['/chat']"><i class="fa fa-comment"></i>Chat With Seller</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-7 col-md-7 offset-lg-5 offset-md-5 col-sm-12 col-12">
          <div class="desc">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Dolorem voluptas a sapiente laboriosam,
              fugit, recusandae voluptatem <br> distinctio placeat ipsam nulla commodi necessitatibus dignissimos sequi
            </p>
            <div class="user">
              <h2>Seller Details</h2>
              <h3>{{data.sellerInfo.fullName}}
                <span *ngIf="data.sellerInfo.recomendedSeller;else verified1"><i class="fa fa-check-circle"></i>Verified</span>
                <ng-template #verified1>
                  <span style="background-color: #c9e165;"><i class="fa fa-circle"></i>UnVerified</span>

                </ng-template></h3>
              <p><i class="fa fa-location-arrow"></i>Houston, Texas</p>
            </div>

            <div class="businessdetail">
              <h2>Business Detail</h2>
              <p>{{data.sellerInfo.businessInformation}}</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- AdditionAL Detail Section Close -->
</div>
