<header>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <a href=""  [routerLink]="['/home']">   <img src="./../../../assets/images/green-logo.png" alt=""></a>
      </div>
      <div class="col-md-10">
        <nav>
          <ul>
            <li [routerLink]="['/about-us']"><a>About Us</a></li>
            <li [routerLink]="['/contact-us']"><a>Contact Us</a></li>
            <li [routerLink]="['/chat']"> <button class="chat-btn"> <i class="fa fa-comments"></i> Chat</button> </li>
            <li> <button class="vehicle-btn" [routerLink]="['/seller-registration']"> <i class="fa fa-plus"></i> List A Vehicle</button> </li>
            <li (click)="toggle()"> 
              <button class="user-btn">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa fa-user"></i>
                </div>
                <div class="col-md-7">
                  <h6>John Doe</h6>
                  <span>Seller Account</span>
                </div>
                <div class="col-md-3">
                  <i class="fa fa-sort-down"></i>
                </div>
              </div>
            </button> 
            <ul *ngIf="show" class="sub-menu">
              <li [routerLink]="['/user-profile']">Edit Profile</li>
              <li>Change</li>
              <li class="last">Sign Out</li>
            </ul>
          </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
